[2018-07-22 17:49] thangngoc89 opened #1 "UI indicator when web-worker is loading scripts"
Is such thing possible?
Also, catch error throws by importScript

[2018-07-26 16:46] thangngoc89 opened #2 "Better positioning of evaluated result"
From kennetpostigo on Discord
1. Evaluate only highlighted or active cursor line and any of the previous lines it depends on
2. If the evaluated output isn't long show it along side the actual line.
3. If it's really long output then show it directly underneath that line and allow the output to be collapsible
4. evaluate each cell onChange instead of shift + enter, of course add something like deb

[2018-07-27 11:16] thangngoc89 opened #3 "Add nested comment support for tokenizer"
https://github.com/codemirror/CodeMirror/commit/a7e29eee89aed63727e46d1e422cfa95b1200859
https://github.com/codemirror/CodeMirror/commit/ff21fec1a71e9c5de3c9faec84c3c61eaef60104

[2018-07-27 12:59] thangngoc89 opened #4 "Evaluate on mounting"
For new users, it would be confuse to know the true power of rtop-ui.

[2018-07-27 12:59] thangngoc89 opened #5 "Evaluate onChange (with throttling)"

[2018-07-27 16:42] thangngoc89 opened #6 "Don't display evaluated result after an error"
Unlike the normal compiler, when encountering an error (syntax error, type error) toplevel skips the current directive and move on to the next on.

To simulate a normal compiler behaviour, I hides all all warnings/errors report after the first error. The same thing needs to be done for type evaluation as well.

[2018-07-27 16:45] thangngoc89 opened #7 "Put editor to readOnly mode and add visual indication while evaluating"
A nice UI touch would be decrease opacity of all widgets while evaluating

[2018-07-28 15:37] thangngoc89 opened #8 "Add TextBlock with markdown capability"
- use codemirror markdown mode https://codemirror.net/mode/gfm/index.html
- remove all colors, make it black and grey. see
http://opoloo.github.io/maxdown/ for theming inspiration

[2018-07-28 15:40] thangngoc89 opened #9 "moving through blocks (text and code) with arrow keys"
the idea is hook up to codemirror's goup and godown event, check if cursor is at the begin/end of buffer and focus on next/previous block

[2018-07-28 15:52] thangngoc89 opened #10 "Add a button for code evaluation"
Also add a hint for shift-enter key (samething)

[2018-07-28 16:11] thangngoc89 opened #11 "Support OCaml syntax"
Currently for separating each directive (for executing and getting result back), I'm using a very dumb approach: try to execute the code when encountering a semicolon. This works perfectly fine in ReasonML. For OCaml, there is `;;` that could be used as separator. It's a valid syntax but nobody uses it in *real code* anyway.

So for supporting OCaml syntax, there are 3 steps:

- [ ] add UI for oca

[2018-07-29 06:43] #4 closed

[2018-07-29 13:58] thangngoc89 commented on #8
Added in 5f1911fd4887ee13e521dd95cb7ecfc14f4b980e

[2018-07-29 13:58] #8 closed

[2018-07-29 14:00] thangngoc89 opened #12 "Extract css from main bundle"
Should be just like this:

https://github.com/webpack-contrib/mini-css-extract-plugin#advanced-configuration-example

[2018-07-29 17:00] thangngoc89 commented on #10
Done in https://github.com/thangngoc89/rtop-ui/commit/b3f3cf6355df504f5dc4bbef8d9e22cf08a53b24

[2018-07-29 17:00] #10 closed

[2018-07-29 17:01] thangngoc89 opened #13 "Evaluate all code blocks at once"

[2018-07-29 17:05] thangngoc89 opened #14 "Display hint for code evaluation only in last code block"
![image](https://user-images.githubusercontent.com/3049054/43368728-22d3ca26-938c-11e8-9600-1f5656864126.png)

That hint is really distracting, only displays it for last code block is reasonable.

So here is the loop for displaying blocks https://github.com/thangngoc89/rtop-ui/blob/master/src_editor/Editor_Page.re#L171

The ideas is you find a last code block id by iterating `state.blocks` from en

[2018-07-29 17:07] thangngoc89 opened #15 "Confirmation before deleting a block"
Currently, it's too easy to delete a block, a little confirmation would be nice. And no confirmation needed for empty block

[2018-07-30 09:24] thangngoc89 opened #17 "Show code run hint on focused code block"
We can keep track of currently focused codeblock by tapping into CodeMirror's event https://codemirror.net/doc/manual.html#events

[2018-07-30 09:46] thangngoc89 opened #18 "Shortcut to auto refmt code"
Thinking about Ctrl+Shift+I (like VSCode)

[2018-07-30 09:48] thangngoc89 opened #19 "Shortcut to comment current selection"
Should be `Ctrl + /`. not sure how to this, but it's probably somewhere in https://codemirror.net/doc/manual.html#events

[2018-07-30 10:16] thangngoc89 opened #20 "Add a githook to refmt code before commit"
Use: https://github.com/typicode/husky

[2018-07-30 10:58] #14 closed

[2018-07-30 11:21] thangngoc89 opened #22 "Setting up Travis CI, Now auto deployment on each PR"
- [ ] Travis
- [ ] Now

[2018-07-30 11:35] #20 closed

[2018-07-30 12:36] #17 closed

[2018-07-30 13:25] thangngoc89 opened #26 "More keymaps to make CodeMirror feels like VSCode"
Tab : indentMore
Shift-Tab: indentLess

[2018-07-30 14:49] thangngoc89 opened #27 "When all blocks are deleted, you can't add new block"

[2018-07-30 14:54] thangngoc89 commented on #22
Done https://github.com/thangngoc89/rtop-ui/commit/2db68b43c3c4be5f2cac879e25b12200a76a2ffb

[2018-07-30 14:54] #22 closed

[2018-07-30 14:59] thangngoc89 opened #28 "Style the block control buttons"
These guys, they are default button
![image](https://user-images.githubusercontent.com/3049054/43405366-dbfd98e4-9443-11e8-9791-63b72c222786.png)

Use your imagination, I have no ideas how this should look like

[2018-07-30 16:52] thangngoc89 opened #30 "Make markdown links clickable"
Use `doc.markText` to replace the link with another node with `replaceWith` option. Next thing is to figure out how to find the links

[2018-07-30 16:55] thangngoc89 commented on #27
You can check the length of the array after Belt.Array.keep, if it's `0`, append an empty code block

See https://github.com/thangngoc89/rtop-ui/blob/2db68b43c3c4be5f2cac879e25b12200a76a2ffb/src_editor/Editor_Page.re#L136-L139

[2018-07-30 17:18] thangngoc89 opened #31 "Wrong error location reporting"
[code]

This is OCaml's compiler acting up. This is the error message:

[code]

[2018-07-30 19:03] #9 closed

[2018-07-30 20:05] thangngoc89 opened #32 "Editors are stealing focus from normal text input"
Reproduce:
- https://staging.rtop.khoanguyen.me/
- Focus on any editor
- Focus on title
- Type anything

A fix for this would be listening to `blur` event from CodeMirror just like focusEvent

[code]

and set [state.focusedBlock = None](https://github.com/thangngoc89/rtop-ui/blob/2b27acd776328ad4a0cba686a7a87540ddec7b3c/src_editor/Editor_Blocks.re#L8)

[2018-07-31 10:31] thangngoc89 opened #33 "Pressing PageUp and PageDown should move between code block too"
This should be pretty easy, just need add a new case to this pattern match

https://github.com/thangngoc89/rtop-ui/blob/6395a122980f1504fd51b7f6036a23548b15ca77/client/src_editor/Editor_CodeMirror.re#L132-L134

[2018-07-31 16:54] thangngoc89 commented on #13
Finished in #35

[2018-07-31 16:54] #13 closed

[2018-08-01 00:37] kyldvs opened #38 "Add ability to reorder blocks"
Right now if you have a code block then a text block, it's not easy to move the text block above the code without copy/pasting the content. Would be nice to have a move up/down button to control the blocks.

[2018-08-01 00:46] kyldvs opened #39 "Add timelimit or cancel button for executing code to recover from infinite loops"
If you write something like:

[code]

Anything else you add after, even after removing the infinite loop, will not be run

(it doesn't crash the tab or anything all that bad though!)

[2018-08-01 04:01] thangngoc89 commented on #39
oh yeah. this is really something I want to prevent. thank you for the suggestion

[2018-08-01 04:02] thangngoc89 commented on #15
@alireza-a my idea is show a confirmation modal when you click delete. not sire what do you mean by replacing delete-button with confirm-button

[2018-08-01 04:29] kyldvs opened #40 "Add some way to import/export the content"
It would be nice to be able to export the entire contents of the page to some text format that can be re-imported later.

I think ideally it would work like other tools where the content is encoded in the URL, but perhaps this is easier to implement and will make the tool usable more quickly.

[2018-08-01 04:35] thangngoc89 commented on #15
@alireza-a @kyldvs  Thank you for the explanation. indeed replacing delete button with confirm button is better UX. But I like @kyldvs more. like add opacity = 50 to deleted block. count down to 10 or next edit before actually deleted it. of course, give user something to restore the block or delete it immediately (the delete immediately button should be hard to reach)

[2018-08-01 04:39] thangngoc89 commented on #40
@kyldvs I'm actually working a server for saving notes. I have been thinking about serailize and deserialize everything too. I'll write a quick issue explaining it later. The possibilities is unlimited

[2018-08-01 04:48] kyldvs commented on #40
Awesome. Any sort of way to save the changes will be great. Was thinking it would be cool to have the ability to have gist based notebooks as well so they can be easily shared/discovered/forked/etc.

[2018-08-01 04:51] kyldvs commented on #15
All of these sound good to me! I think if you go with the fake block I would actually not display the content, otherwise for large blocks it can look weird. I would replace it with a fake block that always says the same thing and is easy to recognize. Perhaps a yellow warning-like block that says, "This block has been deleted, to restore the content click undo." and has an undo button on the right

[2018-08-01 05:07] thangngoc89 commented on #15
@kyldvs sound good to me

[2018-08-01 05:55] thangngoc89 opened #41 "Data format"
I want the data to be as portable as possible so here are some of my thoughts about data serialization and deserialization:

# Source code format (.re, .ml):

Any notebook should be a valid ReasonML program.

When serialize a note into source code format, text block will be block comment like this:

[code]

[code]

Notice the colon, it's used to distinguish between text block and actual code comme

[2018-08-01 05:56] thangngoc89 commented on #40
I'm looking for more input in #41

[2018-08-01 07:02] thangngoc89 commented on #38
I think we can start with adding move block up and down buttons. (on visible on hover).
Drag and drop to reorder would complicate things a lot (but if you can do it, please go ahead)

[2018-08-01 10:44] matthiaskern commented on #19
I've started to look into this. `Ctrl + /` will ring the system bell if the event get's forwarded and i'm not sure there's a way to prevent it with codemirror.

[2018-08-01 10:49] thangngoc89 commented on #19
@matthiaskern I believe there are some mentions of preventDefault with codeMirror, but I can't remember it

[2018-08-01 10:52] thangngoc89 commented on #19
Alright, so we have to listen to `keydown` event, we can preventDefault from that

[2018-08-01 17:56] kyldvs commented on #41
I would make all the text content blocks on their own line, rather than the same line as the `/*:`, so you have:

[code]

Instead of

[code]

I think this would make the serialized file easier to read and understand. There would be no need to deal with trimming lines (spaces in front of markdown lines can be meaningful) or determining to fit it in one line comments.

With this restraint, you could

[2018-08-01 17:56] kyldvs commented on #40
We can close this in favor of #41 then!

[2018-08-01 17:56] #40 closed

[2018-08-03 08:56] #19 closed

[2018-08-03 14:50] no-stack-dub-sack commented on #33
@thangngoc89 I can take this on as a first issue and will try to familiarize myself with the codebase a bit while I'm at it.

[2018-08-03 15:02] thangngoc89 commented on #33
@no-stack-dub-sack thank you. please go ahead :)

[2018-08-03 15:06] thangngoc89 opened #45 "Remove comlink, interacting with web worker directly"
This would solve several issues like:

- Working loading state: https://github.com/thangngoc89/rtop-ui/issues/1
- Prevent infinite loops: https://github.com/thangngoc89/rtop-ui/issues/39
- More type safety
- More browser supports (comlink uses ES6 proxy)

I actually have no idea how to achieving this yet so if you have some ideas, please comment

[2018-08-03 15:09] thangngoc89 commented on #39
So after doing some research, there is no way to stop toplevel from executing a code, but we can just terminal a web worker.

[code]

Currently blocked by #45

[2018-08-05 03:48] thangngoc89 commented on #33
fixed in #48

[2018-08-05 03:48] #33 closed

[2018-08-06 12:47] thangngoc89 opened #49 "Design decisions"
This is a main tracker for client side routing and pages, pretty everything are unimplemented but I need a place to keep track of ideas in my head.

# IDs

I'm using [NanoId](https://github.com/ai/nanoid/) to generate 22 characters id for pretty much everything that need random ids. It has smaller collision chance then UUID

# Authentication

- Currently only Github login is supported. In the futu

[2018-08-06 16:26] thangngoc89 opened #50 "Github auth via a popup"
I already have the localStorage listener in place. You for a better oauth experience, we can open a new pop up

[2018-08-07 13:04] thangngoc89 opened #54 "Prevent FOUT"
This happens with monospace font (FiraCode) used in code editor. I already extracted the font into a variable here https://github.com/thangngoc89/rtop-ui/blob/9256862a1795ecbb21a09482fbccd2ec86034e93/client/src/App.css#L2

You can add [fontfaceobserver](https://github.com/bramstein/fontfaceobserver) and append a new class to body tag with the variable modifier

[2018-08-07 13:25] #12 closed

[2018-08-07 13:56] thangngoc89 commented on #50
Fixed in https://github.com/thangngoc89/rtop-ui/commit/f054918e9f47fc20861b7bd991e313005e8d1911

[2018-08-07 13:56] #50 closed

[2018-08-08 08:52] thangngoc89 opened #55 "Auto focus on newly created block"
You can do it here:

https://github.com/thangngoc89/rtop-ui/blob/f054918e9f47fc20861b7bd991e313005e8d1911/client/src_editor/Editor_Blocks.re#L269

set `state.focusedBlock` to the newly created block

[2018-08-08 14:28] thangngoc89 opened #57 "Support anonymous editing after creating a note"
- Add a new column calls `edit_token` in `note` table. Noone could select this column. And this should be nullable.
- On saving a new note anonymously, set the `edit_token`.
- Save `edit_token` in localStorage
- On updating a new anonymous note, send the `edit_token` for permission checking.

[2018-08-08 16:38] thangngoc89 opened #58 "Implementing save shortcut (Ctrl + S)"
The tooltip is saying but it's fake. Wasn't implemented :P

[2018-08-08 18:38] thangngoc89 opened #59 "Fallback on url encoded data when there is a connectivity issues"

[2018-08-08 18:42] thangngoc89 opened #60 "Handling conflict between url encoded data and server data"
When this happens, inform user, and let's them choose what action to take:

- Use server data
- Use url encoded data
- Show a diff view before deciding

[2018-08-08 18:54] thangngoc89 opened #61 "Handling note saving permission correctly"
- [ ] When users trying to save a note that doesn't belong to them. Show a message warning about that. And offer creating a fork of the modified content
- [ ] Anonymous user: Track #57

[2018-08-08 19:11] thangngoc89 opened #62 "Title handling"
Currently, on the Note page has the correct title, setup Helmet for all pages`

[2018-08-09 07:41] thangngoc89 opened #63 "Side by side code and evaluated result view"
Prior art could be seen here https://developer.apple.com/videos/play/wwdc2018/402/

(around 2 minute mark)

[2018-08-09 07:46] thangngoc89 opened #64 "Upgrade to reason@3.3.2 syntax"

[2018-08-09 07:48] thangngoc89 opened #65 "Integration tests with Cypress"
Some article for seting up:

- https://www.cypress.io/blog/2018/08/08/Fast-Tests-Tiny-Docker-Image/#
- https://github.com/bahmutov/tiny-blog/blob/master/package.json
- Stubing GraphQL responses https://github.com/cypress-io/cypress-documentation/issues/122

[2018-08-09 08:07] #55 closed

[2018-08-09 14:41] thangngoc89 opened #67 "Prebuild docker images with bs-platform"
Pretty much a new docker image with the first 3 lines of current Dockerfile for frontend building

https://github.com/thangngoc89/rtop-ui/blob/9bdf5b413d9cb04e164440189178cb55b5da6b5b/Dockerfile#L1-L3

This would help speeding up now.sh build speed

[2018-08-09 16:20] thangngoc89 opened #68 "Connected code blocks don't work"
https://rtop.khoa.xyz/s/6NYoiYN9cf5Oz8IoNUAJBP/C4CwlgzgBJUIZQHYFMDuSD2xlA---N4IgRgNg9gxg1gZxALgNqgJYBMUgC4YCMGAVgCIBiASoQI4CKArAA4BCAGgIYDqA7AFKcMMEABoQWTnk4pQcDADscyEDChYApmJAA3ThACuWlcwBOivAH0NSiIo0AKADogMeAAQB3KKcTuoCu4AtgCe7hjMnFguAJQA3E4KiRAaHpzuALzuhHEgAL55opjKINwAagYAKgCC7ACczITMMNWeANIAwhAACgAebQByzABs2pLSsiDySrh4Gr142nqGxvgAFhgI4VvpcwvukLBwiYkAxKfuIVAG7ghr1xBY7gYIGu5rGlGKAObuAEwnBRgDQwTgv

[2018-08-09 17:23] thangngoc89 opened #69 "Modify cache header in now.sh deployments"
Everything is immutable except `index.html`. So we can cache everything for a year :D

See for details on headers rewrite: https://github.com/zeit/serve-handler/blob/master/README.md#rewrites-array

Edit this file [`now.json`](https://github.com/thangngoc89/rtop-ui/blob/9bdf5b413d9cb04e164440189178cb55b5da6b5b/now.json)

[2018-08-10 08:25] thangngoc89 opened #70 "Implementing fork feature"
Top priority is to remove the read only mode. It's quite annoying.
This would allow user to freely play with the playground and save it to a fork when they hit save.

[2018-08-10 10:04] thangngoc89 opened #71 "Add a prompt to onbeforeounload when editor content is dirty"
This will be easy after #66 was merged

[2018-08-10 14:35] thangngoc89 opened #72 "Race condition for disabling Save button"
Reproduce:
- User type something
- Hit save (this save request takes a really long time to finished)
- User continue to edit the note
- The save request came back successful
- Save button is now disabled (Ec_Saved)

[2018-08-10 15:28] thangngoc89 opened #73 "Better Global notification system"
A half baked one was added in #66 . It should work for now but we need a real system in the future

[2018-08-10 15:31] #57 closed

[2018-08-10 15:31] #61 closed

[2018-08-10 16:41] #28 closed

[2018-08-10 17:02] #68 closed

[2018-08-10 22:16] no-stack-dub-sack commented on #15
I'd be interested in giving this a try, but not sure I'll have time until sometime next week. I'll leave another comment when I start this, but if someone else comes along in the meantime and I still haven't started yet, please feel free to go ahead

[2018-08-11 17:16] thangngoc89 opened #75 "Incorrect location report"
looks at this code warning
https://rtop.khoa.xyz/s/xDOOlCQKkzxOWo3fvyVsbP/C4CwlgzgBJUIZQHYHtgFMoHcyi3ATomIgOZA---N4IgRgNg9gxg1gZxALgNqgJYBMXgIICSUATAF5QBqArAC4CuA8nQJoASAwgGIYBSA7ggAMIADQgsAQxoSUoOBgB2OZCBhQsAU1EgAbhIh0tKmgE8ADhoAECCScsBeS6wCiAGVcNLAH0sAhPABKANyWADoK4QBmdAphsd5Obh4OAHxhINAQoSBBIAC+eQC6eUA

[2018-08-11 17:26] thangngoc89 opened #76 "Use replace instead of push without pop"
on note load, send a replace event instead of push event (without pop to trick reason-react router). Push is messing with back button.

Keep the current behaviour (push event) for saving new note

[2018-08-11 19:49] #72 closed

[2018-08-12 06:15] #71 closed

[2018-08-12 06:35] #76 closed

[2018-08-12 06:43] #62 closed

[2018-08-12 19:56] #54 closed

[2018-08-12 21:09] thangngoc89 opened #79 "Bug: Should not replace url when user transition to a new route"
Reproduce:
- Save a new note
- Go to homepage real quick
- URL is now `/`
- A few seconds later, url is replaced with `/s/id/data`

[2018-08-13 04:25] thangngoc89 opened #80 "Listing all notes of a single user"
Not sure if we should display any code blocks because the way blocks are currently stored, it's costly to do so. maybe just display title + last edited time for the moment.

route: /u/thangngoc89

[2018-08-13 15:20] thangngoc89 opened #82 "Implement a lightweight frontend server"
What does it do?

- Mainly for SEO purpose
- Return 404 for invalid state
- Return correct metadata (title, description, ...)
- link rel canonical
- Content embed
- NOT for SSR purpose

[2018-08-13 16:12] thangngoc89 opened #83 "Rewrite createLineWidget in ReasonML"
this file: https://github.com/thangngoc89/rtop-ui/blob/master/client/src_editor/createLineWidget.js

That was meant to be a quick hack, we should rewrite it to ReasonML for long-term maintaince

[2018-08-13 17:32] thangngoc89 commented on #80
@matthiaskern I added a placeholder for this route in https://github.com/thangngoc89/rtop-ui/commit/f322117428ceaba0878d47563e086bc6a816cdf7

[2018-08-13 19:39] kyldvs commented on #58
This would be very helpful to have :)

[2018-08-13 19:49] thangngoc89 commented on #58
@kyldvs haha. Completely agree. Just didn't have time for this yet

[2018-08-13 21:15] #69 closed

[2018-08-14 00:46] alireza-a commented on #26
I think instead of making more like VSCode, we should add key bindings similar to a Jupyter Notebook.
For example
- Shift + Enter: Execture and move to the next block
- Ctrl + Enter: Execute and stay on the same block
- ...

[2018-08-14 01:41] thangngoc89 commented on #26
@alireza-a I agree with that, do you have an exhaustive list of Jupyter Notebook shortcut?

[2018-08-14 04:14] alireza-a commented on #26
Screen shots are taken from [**Jupyter Notebook**'s](https://github.com/jupyter/notebook) `Keyboard shortcuts` section under the `Help` menu option.

I counldn't find a complete documentation of the commands except in the Help menu of the notebook itself. So I extracted the key bindings out by running,

[code]

In the dev console when running a local version of `Jupyter Server`.

[code]

<img widt

[2018-08-14 04:46] thangngoc89 commented on #26
Alright. I will implement Shift+Enter and Crtl +Enter first. should be easy

[2018-08-14 19:13] #80 closed

[2018-08-14 21:20] kyldvs opened #86 "Add ability to create short aliases for URL for cleaner links to notebooks"
Would be nice if I could set the URL for my notes

Like: https://sketch.sh/s/kyldvs/hello-world

Instead of: https://sketch.sh/s/jrBiLD8KGLXY7UFCejJHnm/BIUwNmD2AEDqkCcwBMg---N4IgRgNg9gxg1gZxALgNqgJYBMUgOIBCYAIgBwBsArgIp4BeA0pXQHYBuBbAjgKJhvkQAGhBYAhgBcxKUHAwscyEDChYApsJBsxEShqUQ1EgAQAPYwF5jAHRAAVABYYEx58YBWlBCbHGJa71sAbmsWAAcAJ3kJAH1vKJYAcwAKUwBKIJAAXyyAXSygA

[2018-08-15 03:36] kyldvs commented on #86
Ah, it's not obvious that you can drop the last part! That solves most of this issue.

I think it could still be a nice feature, but if linking by just the note-id works, this is definitely much lower pri than other work that could be done.

I'll close this out for now.

[2018-08-15 03:44] thangngoc89 commented on #86
The intention was you should share the whole url, So I made it not obvious ;)

[2018-08-15 03:46] kyldvs commented on #86
Fair enough, a "copy short url" or something might be a good trade off to make this discoverable, if you choose to. I think having a nice clean URL is something that can be valuable in certain situations (for example you want to link here but can't change the text displayed due to the medium you are communicating in)

[2018-08-15 03:57] thangngoc89 commented on #86
that's reasonable to me. so a share link with option to include or exclude the encoded data. with explanations for the trade-offs

[2018-08-15 08:42] thangngoc89 opened #87 "Continous deployments"
I imagine the pipeline would be something like this:

- Build everthing
- E2E test with local server inside CI
- Deploy to staging environment
- E2E test with staging server
- Deploy to production environment

When deploying to staging server, it should include: Auth server, Hasura Graphql engine

TODO:

- [ ] Write E2E tests :D

[2018-08-16 05:13] no-stack-dub-sack commented on #15
Working on this now... going away for a few days with no internet but will resume when I return if not too urgent

[2018-08-16 05:37] thangngoc89 commented on #15
@no-stack-dub-sack thank you for working on this. this is not that urgent so no worries

[2018-08-16 16:16] thangngoc89 opened #89 "Built with/ Powered by page"
- Hasura Graphql Engine: https://graphql-engine-cdn.hasura.io/img/hasura_logo_200.png
- ReasonReact/React
- Now.sh
- Heroku
- OSS

[2018-08-16 18:58] thangngoc89 opened #90 "Fix error location reporting"
Pretty stealing from

https://github.com/BuckleScript/bucklescript/blob/781ea68f90c84db7d68e1bf0ec55d7675162a1eb/jscomp/
super_errors/super_location.ml#L73-L95

[2018-08-16 19:04] thangngoc89 commented on #73
I like this API https://github.com/ealush/butter-toast

[2018-08-16 19:08] thangngoc89 commented on #64
Done in #88

[2018-08-16 19:08] #64 closed

[2018-08-17 06:10] thangngoc89 opened #91 "Better error reporting for this case"
[code]

Current status:

![image](https://user-images.githubusercontent.com/3049054/44250524-dd47f800-a21e-11e8-888f-b2363e908eed.png)

[2018-08-17 07:29] thangngoc89 commented on #91
@matthiaskern Yes, I would like to match all possible cases of Bucklescript usage and shows warnings that this isn't bucklescript

[2018-08-17 07:36] thangngoc89 commented on #58
Working on this

[2018-08-17 07:38] thangngoc89 commented on #26
@alireza-a for shift-enter and ctrl+enter shortcut, do I have to focus in the block/celll for it to works?

[2018-08-17 09:00] thangngoc89 opened #92 "Can't access GraphQL server when the url is too long"
Hasura GraphQL engine will return 400 when the referrer header is too long (normal thing for sketch)

See this:

![image](https://user-images.githubusercontent.com/3049054/44257572-9ebe3780-a236-11e8-85b6-6a257af67077.png)

[2018-08-17 09:33] thangngoc89 commented on #92
Alright. So the limitation comes from Heroku router. The limitation is 8KB

https://devcenter.heroku.com/articles/limits#http-request-buffering

[2018-08-17 10:22] thangngoc89 opened #94 "Add ability to delete a sketch"

[2018-08-17 17:09] #58 closed

[2018-08-17 18:00] alireza-a commented on #26
I think when you open the notebook the first cell gets selected.
In our case since a Sketch will always have a at least one cell, we do the same and when you open a Sketch select the first cell.

[2018-08-17 18:05] thangngoc89 commented on #26
@alireza-a Thank you for the information. I should find a demo of Jupyter and play with it. I already implemented a global shortcut system here https://github.com/Sketch-sh/sketch-sh/pull/95
So adding the shortcuts shouldn't be hard

[2018-08-17 18:08] matthiaskern commented on #67
This could also include cypress, or be based on one of https://github.com/cypress-io/cypress-docker-images.

[2018-08-17 18:13] thangngoc89 commented on #67
@matthiaskern I'm currently not running cypress on now. Because setting the whole thing up is complicated in a single docker file. That image is prebuilt with some packages like xbvf ,... that's neccessarry for UI based testing

[2018-08-17 18:36] thangngoc89 opened #97 "[Proposal] Remove url encoded feature"
URL encoded feature is added with a vision that sketch links won't be useless if the service is down or even if sketch.sh is discontinue. It is really a nice feature because I was tired of non-working jsfiddle links on Stackoverflow.

But as folks are using sketch.sh for writing [micro][1] [blogs][2] and really long code, more problem arise with this feature:

[1]: https://sketch.sh/s/YbsjH3Jsnd0y

[2018-08-17 18:38] thangngoc89 commented on #97
cc @ceph3us @kyldvs

[2018-08-17 18:38] kyldvs commented on #97
I would support removing this feature. I think this is a really nice platform for writing longer notes/tutorials/blogs. It would not be ideal if that weren't possible because of the limit restrictions on URLs

[2018-08-17 18:52] jordwalke commented on #97
I like that with TryFlow, I can create examples and share them with people, without needing an account or signing in. I think I would share far fewer TryFlow examples if I had to have an account or sign in.

Would the following make sense:
- If not signed in, save links by encoding the URL (and warn if the length is > the threshold amount of bytes)
- If signed in create short links.

Fore more per

[2018-08-17 18:53] alireza-a commented on #26
- `Ctrl-Enter`: Executes the focused block, and continues focusing on it.
- `Shift-Enter`: Executes the focused block and focuses on the next block. If there is no next block it creates a new block and focus on it.

[2018-08-17 18:56] thangngoc89 commented on #97
@jordwalke Thank you for your input. Currently, you are not required to sign in to create sketches. You can even edit your sketches anonymously. I would say that handling things differently between signed in and not signed in would complicating the code significantly

As for export/import feature, there is already an issue for it here #41

[2018-08-17 18:56] jordwalke opened #98 "Ability to import / export plain .md"
Another approach to permanence, would be to have an export/import feature. Imagine importing a standard markdown file where ` ```reason ` tags become the runnable example code blocks.

` ```reason-norun ` could become blocks embedded as code that doesn't become a runnable block, but instead is only syntax highlighted.

[2018-08-17 18:56] thangngoc89 commented on #26
@alireza-a Got it. I just try it with a live Jupyter instance

[2018-08-17 18:57] grsabreu commented on #97
I agree with @kyldvs

[2018-08-17 18:57] jordwalke commented on #38
Here's [another feature](https://github.com/Sketch-sh/sketch-sh/issues/98) I've requested which I think would at least provide an easier way to do these larger rearrangements.

[2018-08-17 19:00] ceph3us commented on #97
As a short code playground, direct encoding makes sense. But if it's being used for literate programming the technical restrictions obviously make it preferable not to do this. I would at least advocate an auto saving to gist feature though, since GitHub sign in is already implemented.

[2018-08-17 19:02] thangngoc89 commented on #98
Ah. I already documenting this feature via #41 but it seems like your format for markdown is cleaner

[2018-08-17 19:06] thangngoc89 opened #99 "Autosaving to gist"
From https://github.com/Sketch-sh/sketch-sh/issues/97#issuecomment-413959839

I believe we can do this completely on client-side

[2018-08-17 19:07] thangngoc89 commented on #97
Thank you @kyldvs @grsabreu @ceph3us for your inputs
As of saving to gist, I think it's totally possible to do it client-side. I created #99 to track this feature

[2018-08-17 19:13] jordwalke commented on #98
I'll close this one.

[2018-08-17 19:13] #98 closed

[2018-08-17 20:57] jdeisenberg commented on #97
Instead of a URL encode, is it possible to implement "download source"?

[2018-08-17 20:59] thangngoc89 commented on #97
@jdeisenberg Yes. Totally possible see #41 . But download source doesn't solve the broken links problem (which is what url encode trying to solve)

[2018-08-18 09:07] jordwalke commented on #99
One downside is that it requires requesting access to *all* the users' gists (I believe) instead of just write access, which is a pretty broad permission to ask for something that doesn't even need to read any gists.

[2018-08-18 12:14] ceph3us commented on #99
Yes, there's no granular scope for public only Gist write access. You either get read and write access to a user's public and private gists with the `gist` scope, or you get no write access at all. This has implications for client and server side too - the server would have to be trusted to not lose or misuse OAuth2 tokens, and client side login may leave the token vulnerable on user's devices.

[2018-08-18 14:38] thangngoc89 commented on #99
currently, token is saved on server, it's never saved on user's devices

[2018-08-18 15:03] thangngoc89 commented on #97
Thank you all for your input. I'll will remove the url encoded feature and will continue to work to improve sketch.sh

[2018-08-18 15:03] #97 closed

[2018-08-18 15:03] thangngoc89 commented on #60
Close as of #97

[2018-08-18 15:03] #60 closed

[2018-08-18 15:03] thangngoc89 commented on #59
Close as of #97

[2018-08-18 15:03] #59 closed

[2018-08-18 15:11] thangngoc89 commented on #65
Cypress is setup and running on every commit. :dancer:

[2018-08-18 15:11] #65 closed

[2018-08-18 17:39] #92 closed

[2018-08-18 18:15] #83 closed

[2018-08-18 19:04] #26 closed

[2018-08-18 19:32] thangngoc89 opened #102 "Ctrl+Shift+Enter for creating a text block"
#100 added 2 new keyboard shortcuts:

- Ctrl+Enter: Executing code
- Shift+Enter: Executing and focus on next block. If last block then create a new code block.

Ctrl+Shift+Enter should behave like Shift+Enter except that it should create a new text block instead

[2018-08-19 02:45] kyldvs opened #103 "Bindings declared on same line are printed in reverse order"
Example: https://sketch.sh/s/hzq9uKhnC6dwPi8r0T7AyZ/

![screenshot_2018-08-18 wrong order - sketch sh](https://user-images.githubusercontent.com/1830497/44304910-2d0de880-a31f-11e8-8963-7f3a9a525647.png)

[2018-08-19 02:50] thangngoc89 commented on #103
ah. good call. will fix this asap

[2018-08-19 03:44] kyldvs opened #104 "Ctrl Clicking or Middle Clicking links does not open them in a new tab"
For example holding control and clicking Sketch.sh in the top left replaces the current page with the homepage rather than opening the homepage in a new tab. This happens on all other links on the site I can find too.

This happens for me in Firefox, not sure about other browsers.

[2018-08-19 03:46] kyldvs commented on #18
This would be great :)

Would it format all blocks or just the current block? Maybe add a shortcut for each of those options?

[2018-08-19 03:50] kyldvs opened #105 "Focusing a text or code block prevents editing title"
Weird bug, if these steps are not clear let me know and I'll add a video.

1. Create a new note
2. Type in some title (works like normal)
3. Click in the code block (no need to type anything)
4. Click in the title
5. Start typing, after the first character focus is moved back to the code block (bug)

It has to do with most recently focused code/text block. If you add a text block, focus it, move f

[2018-08-19 04:04] kyldvs opened #106 "Handle "merge conflicts" more gracefully when saving sketches"
Right now if I have the same sketch open in two tabs then do:

1. (tab 1): Write "foo", then save
2. (tab 2): Write "bar", then save
3. (refresh either tab): Observe that only "bar" appears, and "foo" has been lost

There is no confirmation that "bar" is overriding "foo" on the second save. If my initial state of the sketch when I loaded the page is not the same as the current state of the sketch

[2018-08-19 04:39] thangngoc89 commented on #105
I know the cause of this. I'll fix it today. thank you for reporting

[2018-08-19 04:41] thangngoc89 commented on #104
Haha. I'll research on how to handle this gracefully. I'm currently overrding browser's behaviour

[2018-08-19 05:28] kyldvs opened #107 "Allow anonymous editing of all sketches, but not anonymous saving"
When sending someone a sketch that I have written while logged in, it would be nice if they could edit the variables and mess around with it and see how the code runs and reacts. They should just not be allowed to save those changes since

[2018-08-19 05:29] thangngoc89 commented on #106
I'll look into this. In the mean time, did you lost any content? I can recover it for you

[2018-08-19 05:31] thangngoc89 commented on #107
Thank you for suggesting this. This is on high priority list. Should be resolved once fork feature (#70 ) is implemented. There will be no readonly mode

[2018-08-19 06:31] kyldvs opened #108 "Trim whitespace at the end of lines on save"
I constantly find myself with extra white-space all throughout my sketches. I'm pretty sure this is a very common editor feature so would be desirable to add here too. Maybe prevent trimming currently focused line though.

[2018-08-19 06:34] thangngoc89 opened #109 "[CodeMirror] Reason mode improvements"
- Correctly parse array `[|` and |]
![image](https://user-images.githubusercontent.com/3049054/44306227-a277c880-a3b4-11e8-910e-8b5aab47162e.png)

[2018-08-19 06:36] thangngoc89 commented on #108
I'm not sure if this is a common editor behavior. VS Code doesn't behave like that :) . But refmt will definitely help here.

[2018-08-19 06:40] kyldvs commented on #108
It's common enough that it has an option built into VSCode, perhaps this could be a configurable option for logged in users?

https://stackoverflow.com/questions/30884131/remove-trailing-spaces-automatically-or-with-a-shortcut

[2018-08-19 06:43] kyldvs opened #111 "[CodeMirror] [Reason mode] Incorrect syntax highlighting when using polymorphic types"
The tick makes code mirror think everything after is a string and it breaks all highlighting, example:

https://sketch.sh/s/B0FLPyvWbYkilfnhs8rKSE/

![screenshot_2018-08-18 bad syntax highlighting - sketch sh](https://user-images.githubusercontent.com/1830497/44306299-728edd80-a340-11e8-8533-7ece7da6d13c.png)

[2018-08-19 07:00] kyldvs opened #112 "Hitting "ctrl-z" after loading an existing sketch deletes all content from focused section"
1. Write a sketch
2. Save and refresh
3. Focus a text or code block, hit ctrl+z
4. Observe that all text or code is deleted

[2018-08-19 07:03] thangngoc89 commented on #112
This is definitely annoying. So you expect the content to stay after hitting Ctrl+Z after load right?

[2018-08-19 07:05] #104 closed

[2018-08-19 07:10] kyldvs commented on #112
Yeah it should stay, I should only be able to ctrl+z back to the original state I loaded the sketch in, just a minor annoyance I noticed when trying to undo a few things

[2018-08-19 07:15] thangngoc89 commented on #112
Got it. Thank you for reporting. Little UX details like this is what makes a product great :D

[2018-08-19 07:29] #105 closed

[2018-08-19 08:03] #103 closed

[2018-08-19 08:03] thangngoc89 commented on #112
So the idea is to clear CodeMirror history after initial set value

We should call `doc.clearHistory()` (search for it in https://codemirror.net/doc/manual.html) after initial setValue here https://github.com/Sketch-sh/sketch-sh/blob/16dec192628a54be0894894ab7558e39c8375389/client/src_editor/Editor_CodeMirror.re#L100

[2018-08-19 14:01] thangngoc89 commented on #6
This is done in #88

[2018-08-19 14:01] #6 closed

[2018-08-19 18:40] thangngoc89 opened #116 "Linking sketches"
Idea: https://sketch.sh/s/r7hRFGOXNgZ9riGbmN6ixC/

# Part 1 - JSOO

JSOO provides a pseudo-filesystem that mimics Unix.

- The default working dir is `/static`
- Cmis files located at `/static/cmis

JSOO provides a module called `Sys_js` for working with the pseudo-filesystem
http://ocsigen.org/js_of_ocaml/3.1.0/api/Sys_js

What's needed in JSOO side:

- All functions exposed by JSOO located here:

[2018-08-19 20:00] thangngoc89 commented on #11
Working on this

[2018-08-20 07:20] kyldvs opened #118 "Auto-hide large structures better, or allow manual hiding"
When a large structure gets printed it can take up many screens without ever getting truncated with an ellipsis anywhere:

https://sketch.sh/s/LhrKjlqGtCDdDyBi0qZWL1/

![screenshot_2018-08-20 buffer deque - sketch sh](https://user-images.githubusercontent.com/1830497/44325881-dd0e4f00-a40e-11e8-89e2-65cbeb4fefa0.png)

[2018-08-20 07:34] thangngoc89 commented on #118
could yoi give me an example code of large wtructure like that? (just lazy, want to have some code to work on immediately)

[2018-08-20 08:47] thangngoc89 opened #119 "Support Async loading libraries"
I would love to get dynlink working (dynamically load libraries like base, core, async_js, lwt_js) so folks can teach these thing online with little overhead. Just getting started straight to tutorial and coding
Jsoo's toplevel has a good example of doing that https://github.com/ocsigen/js_of_ocaml/blob/master/toplevel/examples/lwt_toplevel_bin/Makefile

but it seems complicated to me so I haven't

[2018-08-20 08:48] thangngoc89 opened #120 "Support auto completion"
There is a prior art here https://sanderspies.github.io/ocaml-gist/ . It uses a fork of merlin and it looks amazing
I want to have this for sketch as well

[2018-08-20 15:01] #11 closed

[2018-08-20 15:21] thangngoc89 opened #122 "Show a modal to choose syntax when creating new Sketch"
Example from Codesandbox
![image](https://user-images.githubusercontent.com/3049054/44349526-6a14df00-a4c7-11e8-89c3-2d7a44d95120.png)

[2018-08-20 16:00] kyldvs commented on #122
It would also be cool to be able to reuse different syntaxes within the same sketch, so perhaps choose the syntax per code block.

[2018-08-20 16:09] thangngoc89 commented on #122
@kyldvs It was added initially in #121 (first commit). But I removed it because:
- There won't be much practical use
- It complicate the code (like a lot, need to change the storage's model)
- You can't export it to a valid RE/ML file

![image](https://user-images.githubusercontent.com/3049054/44352262-0cd05c00-a4ce-11e8-9256-6ee456f04f16.png)

[2018-08-20 16:15] kyldvs commented on #122
I would not expect the different languages to interact. My thinking would be that you could then support multiple languages if you wanted, and have some JS code running alongside Reason code.

It does not look ideal though to have that selector on every code section, perhaps you should have to opt into it in the modal by selecting "multiple-languages" or something.

[2018-08-20 19:55] kyldvs opened #124 "Using polymorphic types breaks auto-indent"
Type something like the following, then go to the end of line 3 and hit enter. The next line has a large amount of indentation by default. This level of indentations persists even after adding bindings in between throughout the whole document. It makes it very hard to work on the code.

![screenshot_2018-08-20 bad indentation - sketch sh](https://user-images.githubusercontent.com/1830497/44363152-

[2018-08-20 19:57] thangngoc89 commented on #124
Ah. This is "smart" indentation of CodeMirror. I'll turn it off

[2018-08-20 19:58] #122 closed

[2018-08-20 20:05] #124 closed

[2018-08-20 20:06] thangngoc89 commented on #124
Fixed. Should be live in a few minutes (Reload your editor)

[2018-08-20 20:09] thangngoc89 opened #125 "Should prevent transition to another route while saving as well"
This is easy to fix, these lines: https://github.com/Sketch-sh/sketch-sh/blob/723c7da3a3334ba53a62190770a1a5397a41fb8a/client/src_editor/Editor_Note.re#L75-L76

Instead of

[code]

Change it to

[code]

Because only `Ec_Saved` and `Ec_Pristine` gurantees that content was saved

[2018-08-20 20:23] kyldvs commented on #124
Much better, thank you!

[2018-08-21 06:14] thangngoc89 commented on #107
On second thoughts, I'm thinking about a **view** mode that you can just play with the code blocks as you like. The markdown content will be rendered into HTML. This would solve the clickable markdown link as well. And paved the way to support more textblock format (rather than just markdown)

[2018-08-21 09:36] #87 closed

[2018-08-21 12:15] thangngoc89 commented on #67
Done in #127

[2018-08-21 12:15] #67 closed

[2018-08-21 12:44] thangngoc89 opened #128 "Disable Ctrl+S shortcut when user is not able to save"
Maybe disable a more useful message rather than "Server Error "

[2018-08-21 15:59] #109 closed

[2018-08-21 15:59] #111 closed

[2018-08-21 16:09] thangngoc89 opened #130 "Getting Belt to compile on opam"
https://github.com/bsansouci/bsb-native/issues/66

[2018-08-22 10:31] thangngoc89 opened #132 "Improve hasura installation script in Docker"
Should be as simple as

[code]

[2018-08-22 11:37] thangngoc89 commented on #118
@ceph3us Wow. That's really interesting. Thank you for the gif.

[2018-08-22 16:55] thangngoc89 commented on #119
Partly implemented in https://github.com/Sketch-sh/rtop-evaluator/pull/6

[2018-08-22 20:16] matthiaskern opened #133 "Improve loading screens"
Loading screens should resemble the actual UI it is "morphing" to better.

[2018-08-22 20:26] thangngoc89 commented on #133
Are we talking about the loading screens creating with ReactContentLoader?

[2018-08-23 06:51] matthiaskern commented on #133
Thinking about these:
![image](https://user-images.githubusercontent.com/9108002/44509275-f0911280-a6b9-11e8-8fe2-4e52aa069a52.png)
Could be adjusted to look more like the screen it is loading,e.g.:
![image](https://user-images.githubusercontent.com/9108002/44509306-0dc5e100-a6ba-11e8-95b6-67ae8c4bdf89.png)

[2018-08-23 06:58] thangngoc89 commented on #133
yep. that's good ideas. Morphing only works when it looks exactly like the final screen

[2018-08-23 09:58] #112 closed

[2018-08-24 04:17] kyldvs opened #136 "Add ability to embed images/gifs"
Perhaps instead of a code or text block you could create an image block that lets you upload or add a link to an image/gif

[2018-08-24 04:35] no-stack-dub-sack commented on #136
If #107 is implemented (part about markdown being rendered as HTML), this should allow images to be inserted using MD syntax

[2018-08-24 04:38] no-stack-dub-sack commented on #120
Is type info on hover pushing it? 😄

[2018-08-24 04:51] no-stack-dub-sack commented on #118
@thangngoc89 Are you already working on this?

CodeMirror does have collapsible gutter configurations (which you probably have seen), but this obviously wouldn't handle the widgets that show the evaluations.

If you haven't already started this, I could try to rustle something up

[2018-08-24 04:59] no-stack-dub-sack opened #137 "Auto-convert RE to ML to RE when changing languages"
[Reason Tools](https://github.com/reasonml/reason-tools) provides an in-browser converter from RE to ML syntax and back. Wondering if this could be adapted to Sketch so that when you switch from RE to ML, the code is automatically translated to the opposite syntax.

For the education use-case that Sketch is so great for, this would be incredibly useful for highlighting the differences between Reas

[2018-08-24 05:00] thangngoc89 commented on #118
@no-stack-dub-sack no. I didn't start to work on this. I don't think collapsible gutter have any effects on line widgets. But if you want to take a look. Please go ahead

[2018-08-24 05:32] #15 closed

[2018-08-24 05:33] thangngoc89 commented on #118
@no-stack-dub-sack whatever you want to work on.

[2018-08-24 05:35] thangngoc89 commented on #137
So this requires some changes to
https://github.com/Sketch-sh/rtop-evaluator to expose refmt for javascript usage.

Also, what happens when users switch between RE an ML repeatedly?

Because formatting between 2 syntax creates a mess each time.

Link issue #18

[2018-08-24 07:37] thangngoc89 commented on #132
Donei n https://github.com/Sketch-sh/sketch-sh/commit/166c30edc7129b50bfc8b77a4cb015338e714663

[2018-08-24 07:37] #132 closed

[2018-08-24 12:49] Haroenv commented on #30
I looked a bit into it, and it's not very easy

[code]

Note that this works, but only when the text is already written (all events need to be removed and added when DOM changes 😢), as well as it won't work with links that aren't adjacent or inline. But it's something.

found inspiration [here](https://discuss.codemirror.net/t/clickable-urls-in-markdown-mode/1389)

[2018-08-24 12:55] thangngoc89 commented on #30
@Haroenv Ah. This is great ! Thank you for the pointer. I see that HyperMD have clickable markdown link https://laobubu.net/HyperMD/#README.md but didn't have time to check it out.

[2018-08-24 14:14] Haroenv commented on #30
I think their trick might be with turning it into html first ([with `marked`](https://github.com/laobubu/HyperMD/blob/a0241fbe251c194b501635bda01596090a9cc9c8/src/powerpack/hover-with-marked.ts)), which then allows them to link, or it might also have something to do with this code:

https://github.com/laobubu/HyperMD/blob/7bdeb397ba56d944c9290fbda8a32869e7cc3dfb/src/mode/hypermd.ts#L304

but I did

[2018-08-24 14:14] Haroenv commented on #30
Actually, the code is more likely [here](https://github.com/laobubu/HyperMD/blob/c8d4387b149bff2cc29f8be53792ce814239c17d/src/addon/click.ts#L31), since they use the alt key for opening in new tab (which should be ctrl / cmd IMO)

[2018-08-24 15:02] thangngoc89 commented on #30
@Haroenv Thank you for investigating this. I will check this out the next days. This is a commonly ask feature :)

[2018-08-24 16:57] thangngoc89 commented on #137
Alright, I exposed refmt for you.

You can see in this file: https://github.com/Sketch-sh/sketch-sh/blob/fc7d82a53a1d536c3e320156685f408ffa64eefd/client/src_editor/Editor_Worker.re#L37-L39

There is 3 new functions:

- reToMl
- mlToRe
- reToRe (this one is used for pretty print Re code).

I think this is pretty much what you needed to make it work. What left is the frontend integration.
Issues #18

[2018-08-24 17:34] no-stack-dub-sack commented on #137
@thangngoc89 sure, thanks for the guidance on this!

I'm thinking maybe a button up by the RE|ML selector that turns auto-convert on/off rather than a confirmation each time. What do you think?

[2018-08-24 17:37] thangngoc89 commented on #137
@no-stack-dub-sack maybe just ask it 1 time and save the answer to localStorage or something. That button can't accidentally be triggered

[2018-08-25 07:40] jordwalke opened #139 "Clicking on the # in Read Only mode could create link to section."
In many technical docs, each header has a pound sign `#` next to to a title upon hover. When you click it, it changes the URL to be a link to that header section. How convenient that Sketch already has `#` right next to the headers (although originally for a different purpose)! In Read Only mode, those could form links to headers for sharing a particular section of a Sketch. When you navigate to t

[2018-08-25 07:43] thangngoc89 commented on #139
yes. I completely agree with this. There gonna be a complete redesign of read/view/edit mode after fork feature is in. The current design has many limitations that's hard to implement such features.

[2018-08-25 08:01] thangngoc89 opened #140 "Warning about Bucklescript usages"
Alright, let's make a list about Bucklescript usages on Sketch so we can analyze the error/AST and show a helpful message like: This is not bucklecript, this is toplevel blabla

![image](https://user-images.githubusercontent.com/3049054/44616306-ba998d00-a877-11e8-8cb2-b45ee7e5962b.png)

![image](https://user-images.githubusercontent.com/3049054/44681665-7373ed80-aa6b-11e8-8113-5abfb538f387.png)

[2018-08-25 16:15] thangngoc89 opened #141 "Logo for Sketch"
This is a new logo I created with https://hatchful.shopify.com . Really it's just some meaningless shape but I like it. What do you think cc @matthiaskern

![logo 1](https://user-images.githubusercontent.com/3049054/44620345-c9eef980-a8bc-11e8-9df0-e2736f1e1670.jpg)

Svg
[code]

[2018-08-25 17:32] thangngoc89 opened #142 "Invalidating apollo cache when saving a new sketch"
Reproduce:

- Open profile page /u/thangngoc89
- Save new sketch
- Go to profile page, no new sketch in the list

[2018-08-26 15:00] thangngoc89 opened #143 "[RFC] Continue evaluating other codeblocks even if a fatal error was thrown"
In education sketches like this, the author sometimes want to explicitly throws an error

[![image](https://user-images.githubusercontent.com/3049054/44629548-40eac780-a97b-11e8-96bc-75f7f3acc9bd.png)](https://sketch.sh/s/UTWNNJ0pnIrYXqH1wVIcdU/)

and continue to explain the idea below. Maybe we should continue evaluating other codeblocks?

[2018-08-26 15:03] thangngoc89 commented on #143
another example in the wild:

![image](https://user-images.githubusercontent.com/3049054/44629588-d423fd00-a97b-11e8-9d6c-b2484bfb6df1.png)

[2018-08-26 15:13] hcarty commented on #143
Maybe it's worth adding a "skip" option for code blocks? It could be something that only shows up when a block fails to evaluate.

[2018-08-26 15:30] thangngoc89 commented on #143
@hcarty I see. That's an interesting idea. I'll explore that route to see how complicated it's to implement

[2018-08-26 15:33] thangngoc89 commented on #143
- octachron on Discord:

[2018-08-26 19:40] AnnaUdovichenko opened #144 "Ability to save private/hidden sketches."
Now all links to sketches can be found through user's profile. It would be really great to be able to share a sketch with somebody by URL without showing it to everybody (or just play with code, edit it from different PCs etc. while keeping it private). Is it possible to add such a feature?

Thank you!

[2018-08-27 06:01] kyldvs commented on #144
Yeah, I don't think sketches should be visible on your profile by default unless you opt into that

[2018-08-27 08:09] thangngoc89 commented on #144
I agree with this. I will introduce a publish mode in the future so only published sketches will be listable

[2018-08-27 16:58] nimish-gupta commented on #90
Hi @thangngoc89 i want to work on this repo. I am ready to work on this issue. If seems good, can you provide extra context for this issue.

[2018-08-27 17:07] thangngoc89 commented on #90
@nimish-gupta Oh. So sorry about this misleading issue. This was fixed in a WIP PR here https://github.com/Sketch-sh/rtop-evaluator/pull/6

Could you pick another issue?

[2018-08-27 17:08] nimish-gupta commented on #90
@thangngoc89 yeah sure.

[2018-08-27 17:11] nimish-gupta commented on #102
@thangngoc89 can i move forward this issue?

[2018-08-27 17:13] thangngoc89 commented on #102
Yeah. Sure :D
So currently , the `Ctrl+Enter` is being registered here https://github.com/Sketch-sh/sketch-sh/blob/2ad9e87e703d72229bcfd9460eb1b75677303eb8/client/src_editor/Editor_Blocks.re#L114-L123

you need to add another shortcuts there.
As well as adjust `Block_Execute` action to receive an extra field to determine which kind of block it should add

[2018-08-27 19:38] thangngoc89 commented on #91
Better now

![image](https://user-images.githubusercontent.com/3049054/44681665-7373ed80-aa6b-11e8-8113-5abfb538f387.png)

Track this in #140

[2018-08-27 19:57] matthiaskern commented on #116
Making good progress with this feature, but would like to get some format the links are stored as.

[code]

Also, do we want to make it future-proof for links from outside sketch-sh already?

[2018-08-27 20:08] thangngoc89 commented on #116
I think it's reasonable to assume that we might allow linking to outside sketch-sh in the future. so let's future proof ourselves with a variant there.

I don't think we need to put the whole blocks data to link. Just concat everything into a single codeblock.

There is another problem: how to concatenate all code blocks without introducing syntax error?

[2018-08-27 20:20] matthiaskern commented on #116
@thangngoc89 In which cases could this lead to syntax errors apart from existing ones?

[2018-08-27 20:33] thangngoc89 commented on #116
Oh. That's very easy. Try this
https://sketch.sh/s/wBCOQaBrIf2BzaynFNXSh4/

I think this could be handled as AST level. I'll take a look at this when I'm done with fork feature. For now let's just do string concatenation

[2018-08-28 08:23] thangngoc89 opened #146 "Reset store on authentication status change"
Also update `currentUserId` in EditorNote when authentication change.

This requires upgrading reason-apollo to latest version for this PR https://github.com/apollographql/reason-apollo/pull/125

And simply call reset store on login/logout

[2018-08-28 08:58] #70 closed

[2018-08-28 09:05] thangngoc89 commented on #107
Done in #145

[2018-08-28 09:05] thangngoc89 commented on #107
x

[2018-08-28 09:05] #107 closed

[2018-08-28 09:06] thangngoc89 commented on #128
Done in #145

[2018-08-28 09:06] #128 closed

[2018-08-28 09:06] thangngoc89 commented on #125
Done in #145

[2018-08-28 09:06] #125 closed

[2018-08-28 09:22] thangngoc89 opened #147 "[Proposal] Free form writing"
# Rationale

Having using Sketch extensively for keeping note about everything, I have been thinking about a new writing approach/experience because the current blocks controls sucks.

It's hard to use:
- You have to remember a bunch of shortcuts:
  - Ctrl+Enter: execute the code
  - Shift+Enter: execute and move to next block, if this is last block, create new code block
  - Ctrl+Shift+Enter: sam

[2018-08-28 10:59] thangngoc89 commented on #30
Another method here:

https://stackoverflow.com/questions/26933344/codemirror-detect-and-create-links-inside-editor

[2018-08-28 17:43] thangngoc89 opened #149 "index out of bound for restore function"
Reproduce

- Go to a sketch
- Delete a block
- Fork it
- Restore screen will appear
- Click on restore
=> Index out of bound and crashed

When timeout stop, the block wasn't removed

https://sketch.sh/s/TJRh7oDiz7bH30kWXfzR5t/

This is because there is no event listener attached to it.

Solution is just don't serialize deleted blocks (really no point in doing so)

[2018-08-28 18:48] kyldvs commented on #147
How would https://github.com/Sketch-sh/sketch-sh/issues/136 work under this proposal?

[2018-08-28 18:50] thangngoc89 commented on #147
@kyldvs markdown will be rendered into HTML (as well as everything else) so that shouldn't be an issue

[2018-08-29 02:44] no-stack-dub-sack commented on #137
@thangngoc89 that sounds good... going to open a WIP PR for this and #18, but it's far from ready. Still dealing with some issues. Will explain in PR thread / IM

[2018-08-29 02:46] no-stack-dub-sack commented on #147
Also, as you said, refmt may be a problem. This would likely drastically affect #137 since from what I've seen, comments get stripped from code when converting from RE to ML (which is quite annoying 💀)

[2018-08-29 04:44] kyldvs commented on #147
I feel like this won't actually be simpler, and will make the implementation and how you use the tool more complex. Right now there are "clean" text and code blocks that have clear and separate purposes. There is also the potential to add other kinds of blocks.

"simplifying" into having no kind of blocks and it all being one file will make the mental model of how you think about the document more

[2018-08-29 05:43] thangngoc89 commented on #147
@kyldvs Thank you for your input, considering this a bikeshedding thread. I didn't consider about the mental model. What I have in mind is that single block would make all the hard part of implementing many features goes away.

As for executing block by block: I don't think that's a good idea. Last Jupyter conf, many folks complaining about unreproducable result be ause of non-deterministic execut

[2018-08-29 07:11] kyldvs commented on #147
No problem, just trying to present alternative view points, because I do not seem to mind the blocks that much!

Is that still true with a linking/import feature of other notes? Doesn't this act like two blocks being joined together?

Executing block-by-block was just an example of a feature that would be harder, not necessarily one that I'm in support of either. I think there will be others too

[2018-08-29 08:26] thangngoc89 commented on #147
That would be the same issue, I'm gonna have to merge the block behind the scene which could lead to unexpected syntax error.

[2018-08-29 12:47] #49 closed

[2018-08-29 14:45] thangngoc89 commented on #30
#152 introduced a hack for displaying link handle on mouse hover. It's ugly and not mobile friendly. Will keep investigating this further in another iteration

[2018-08-29 14:57] thangngoc89 commented on #73
Done in #145

[2018-08-29 14:57] #73 closed

[2018-08-29 17:39] Haroenv commented on #30
How are you supposed to use the hack 🤔 the handle disappears when you move towards it

[2018-08-29 18:10] thangngoc89 commented on #30
I agree that it sucks ! But it doesn't work for you?
![ezgif-1-3432c154fa](https://user-images.githubusercontent.com/3049054/44806518-64b74300-abf1-11e8-8a32-b4b89c0c6a3a.gif)

[2018-08-29 18:44] thangngoc89 commented on #30
Oh. Thank you for letting me know. I'll look into improve this hack for safari. This is not cool

[2018-08-29 18:48] Haroenv commented on #30
Maybe it would be interesting if you could have that icon always visible?

[2018-08-29 19:41] thangngoc89 commented on #30
@Haroenv yes. That's what I want to do. I updated the issue first post. `doc.markText` method could renders what I want. But I'm not sure how to capture links

[2018-08-30 02:33] kyldvs opened #153 "The restore deleted block animation is distracting"
The animation part is really distraction. It basically means I'm not going to be able to continue and work on the sketch for the 10s I wait for it to complete. (Because it's distracting and grabs my attention, not for any other reason)

Can we remove the animation, or add a way to remove the block before the 10s is up?

[2018-08-30 04:36] thangngoc89 commented on #153
1. I'll make the animation less distracting (completely agree with this lol)
2. How about a remove button? Click on that and the block will be removed immediately

[2018-08-30 05:18] kyldvs commented on #153
Both would be great!

[2018-08-30 11:21] thangngoc89 opened #155 "Smarter line widgets add and remove"
Currently, all line widgets are removed before adding even if they are exactly the same. This leads to an annoying flash and layout thrashing.

We can do better by doing a diff and replace/remove changed widgets

The code section is here:

https://github.com/Sketch-sh/sketch-sh/blob/e27d375ce04703343057269ecb6b74472167aa70/client/src_editor/Editor_CodeBlock.re#L70-L76

[2018-08-30 13:51] thangngoc89 opened #156 "Drop Github Oauth email scope"

[2018-08-30 13:54] Drup commented on #147
Since I emitted the idea that lead to this ticket, let me give my point of view.

The block-based representation works for notebook-like things, like jupyter. These kind of UI works very well for data-science where the text is as important as the code .... and that's it.  Where the code is the central point of focus, like in most other programming tasks, having a single cell that contains both the

[2018-08-30 14:07] thangngoc89 opened #157 "Can't executing the code after forking -> go back"
Write something -> Fork -> Go back -> Clicking on Run doesn't do anything

[2018-08-30 18:46] Drup commented on #147
Does it really ? The only different is that you will surround your text by block comments, as if you were writing documentation in code. The rest would work exactly the same: the text would be rendered as it is today (and hopefully better, in the long run).

For most intent and purposes, it just changes `Shift+Enter` into `/*`. :)
Except now, reordering is trivial since everything is text, and und

[2018-08-31 01:10] no-stack-dub-sack commented on #147
@thangngoc89 What about "tabs" instead of blocks? This implements the single-cell model, potentially eliminating some implementation challenges, but still allows for a kind of "block model," where each piece of code is easily accessible and easy to reason about and mentally compartmentalize. This might solve a few of these problems. Each "tab" would have to be a valid RE/ML module, would allow for

[2018-08-31 09:03] Drup commented on #147
@kyldvs I didn't say the different was slight, I said your workflow can be trivially maintained with a single-cell UI. ;)
Do you have concrete desirable features that would be easier to implement with a block UI ?

@no-stack-dub-sack I like it. Another interesting aspects of having tabs (which is really just a way to group sketches together, in a way) is that it naturally provides a way to group a

[2018-08-31 09:19] thangngoc89 commented on #147
Thank you all for your thoughts. I can see that there are 2 directions here:

- @no-stack-dub-sack @Drup : A full-blow playground. That tab ideas is basically an IDE. (a file explorer, a tab manager in the top)
- @kyldvs keep the current UI.

And both have valid feedbacks. and both have their use cases.
Now that linking sketches is in the work, I think that I can unite both use cases. You have a f

[2018-08-31 10:26] #155 closed

[2018-08-31 10:34] matthiaskern commented on #147
I like the current single file model, and think if we get the concept of linking right, there might not be a need for a full blown file explorer and IDE capabilities. For this use case, there are other services like repl.it as well as codesandbox which apparently has reason support on the horizon.

I agree that we need to simplify the editor model, I still get confused by the current shortcuts, pe

[2018-08-31 12:51] thangngoc89 commented on #102
Done in #151

[2018-08-31 12:51] #102 closed

[2018-08-31 13:47] thangngoc89 opened #158 "[Looking for ideas] Improving editor experiences"
Whatever comes out of #147 , we need to improve the editor experiences because currently, it's not so good

# Values/Types output

## Don't display type values right after a type definition

This is just annoying because it's identical
![image](https://user-images.githubusercontent.com/3049054/44915856-5b97b480-ad5e-11e8-971f-6b7de8edac81.png)

Same deal for exception

![image](https://user-images

[2018-08-31 13:58] nimish-gupta commented on #133
@thangngoc89 can i go forward with this issue?

[2018-08-31 14:07] thangngoc89 commented on #133
@matthiaskern yeah sure. take a look at this thread  https://twitter.com/_chenglou/status/1034530454597062656 :P

I found this library with css only approach https://github.com/zalog/placeholder-loading . It looks very promising and we can put the block inside sketch's css to have the exact sizes/spacing

[2018-08-31 14:15] thangngoc89 commented on #143
Let's go with the approach of adding an option to the block to say that this block is expecting to fail. And probably we should only display the option when there is an error.

Details:

- This is the condition in worker thread https://github.com/Sketch-sh/sketch-sh/blob/fd75d692784bb21a55575eb94343b8928fcddfba/client/src_analyzer/Worker_Analyze.re#L103-L104 to stop executing when there is an erro

[2018-08-31 14:16] thangngoc89 commented on #153
I would love an PR to do number 2 (a remove button to remove the block immediately)
It should be in the same row as Restore button

[2018-08-31 14:45] thangngoc89 opened #159 "Auto saving content to localForage and clean up after saved"
This is an extremely nice feature to have for Sketch. Just dispatch an async operation to save the data on every keystrokes (maybe use throttle if it's too much). And clean it up if the content is saved

I can't remember how many times I was saved by this feature of Github

[2018-08-31 16:19] thangngoc89 commented on #141
Done in https://github.com/Sketch-sh/sketch-sh/commit/cc7496a8d2cb31d142572aa31ae90a88b9adb8d1

[2018-08-31 16:20] #141 closed

[2018-08-31 17:30] kyldvs commented on #158
I would be careful here, right now it's easy to highlight an entire code block and copy/paste it into an editor. I suspect if you make value/stdout selectable you could accidentally remove the ability to do this.

[2018-08-31 17:58] thangngoc89 commented on #158
@kyldvs yep. that's why I want to put it behind a setting. (maybe with a shortcut or something). Because sometimes, you really need to select value/stdout

[2018-08-31 18:00] thangngoc89 opened #160 "Update bs-json to latest version"
bs-json@3.0.0 is out and remove that annoying warning.

[2018-08-31 18:45] kyldvs commented on #155
Awesome improvement :) I noticed this a lot

[2018-08-31 18:52] kyldvs commented on #158
A button that just pops the raw contents of all code or something into a dialog would be sufficient to make sure people can export things

[2018-08-31 18:58] thangngoc89 commented on #158
@kyldvs ah. that's even better. thanks for the idea

[2018-08-31 18:59] thangngoc89 commented on #155
@kyldvs in the future, I would like to commit everything in 1 pass. Current, if you have many blocks with large content, it could be annoying

[2018-09-01 09:05] thangngoc89 opened #162 "Prevent text reflow in markdown editor"
#161 added markers to links onBlur and remove them onFocus.
This causes text reflow. I would like to make them persistent at all time and only be removed on edit.

[2018-09-01 09:09] #30 closed

[2018-09-01 13:52] no-stack-dub-sack commented on #147
@matthiaskern ctrl+/ should comment code

[2018-09-01 13:55] thangngoc89 commented on #147
@no-stack-dub-sack @matthiaskern implemented the comment code shortcut ;) I would a PR to change that to mod (not sure how this work with codemirror though)

[2018-09-01 14:04] nimish-gupta commented on #133
@thangngoc89 can you tell me on which of the screen you want loading screen? And provide a little bit more context for the issue?

[2018-09-01 14:09] thangngoc89 commented on #133
@nimish-gupta there is currently 2 loading screens. 1 is the sketch viewer with editor.

https://github.com/Sketch-sh/sketch-sh/blob/9a0b0011d06da4f33b171b806126e13a780ad54b/client/src_editor/Editor_NotePlaceholder.re

And the other one is SketchList (homepage when logined)
https://github.com/Sketch-sh/sketch-sh/blob/4c7fafec4784a4b8a9dda290f9ad3a0df2561857/client/src/components/UI_SketchList.re#L

[2018-09-01 14:10] nimish-gupta commented on #133
ok got it

[2018-09-02 08:47] #18 closed

[2018-09-02 08:47] #137 closed

[2018-09-03 13:22] thangngoc89 opened #163 "Put editor to readonly mode when running refmt"
Or it will clean any change you made. because refmt is a slow operation

[2018-09-03 13:29] #39 closed

[2018-09-03 13:29] #45 closed

[2018-09-03 16:42] kyldvs opened #164 "Refmt on save option"
An option to refmt whenever you save the notebook would be nice!

[2018-09-03 16:58] thangngoc89 commented on #164
Looks like you noticed the reason improvements with refmt ? I guess I need to make a Sketch settings first

[2018-09-04 00:11] no-stack-dub-sack commented on #147
@thangngoc89 sure, I can submit a quick PR for this. It should be simple as setting an editor config for both keys since I don't think CodeMirror recognizes mod, but I can check (so both ctrl and cmd would work on PC, which might be helpful if mac users have gotten accustomed to using ctrl)

[2018-09-04 00:15] no-stack-dub-sack opened #166 "enable cmd+/ on mac for toggling comments"
@thangngoc89 sure, I can submit a quick PR for this. It should be simple as setting an editor config for both keys since I don't think CodeMirror recognizes mod, but I can check (so both ctrl and cmd would work on PC, which might be helpful if mac users have gotten accustomed to using ctrl)

[2018-09-04 08:28] fstiffo opened #168 "Unexpected reset of all the sketch"
I press SHIFT+CTRL+I to refmt while the page was erasing a code block and all the sketch has been reset to the last saved version.

[2018-09-04 08:45] thangngoc89 commented on #168
Ah, this is definitely a bug. I'll fix this real quick

[2018-09-04 08:50] thangngoc89 commented on #168
Hmm what do you mean by last saved version? Like erasing all changes or just restore the queued deleted block?

[2018-09-04 17:40] fstiffo opened #171 "Export feature request"
A export feature (of the code at least) would be appreciated, losing code is always hard. thx in advance

[2018-09-04 17:41] #171 closed

[2018-09-04 17:43] thangngoc89 commented on #171
There has been an issue here #40 . Could you comment on that about your use case please?

[2018-09-04 17:44] fstiffo opened #172 "Export sketches"
An export feature (of the code at least) would be appreciated, losing code is always hard.

thx in advance

[2018-09-04 18:03] fstiffo commented on #172
Sorry I closed a previous request with the same argument by mistake. The possibility to download the sketch as a text file or 2 (markdown and code). No, I didn't loose any code.

[2018-09-04 18:07] thangngoc89 commented on #172
@fstiffo then this is an duplicate of #41

[2018-09-04 18:07] #172 closed

[2018-09-04 18:12] thangngoc89 commented on #168
Fixed in #169

[2018-09-04 18:12] #168 closed

[2018-09-04 18:15] thangngoc89 commented on #153
Number 1 is done in #165

[2018-09-04 18:31] thangngoc89 commented on #160
Fixed in #174

[2018-09-04 18:31] #160 closed

[2018-09-04 22:26] no-stack-dub-sack commented on #158
@kyldvs @thangngoc89 or just a button that copies just the block's code to the clipboard, skipping the dialog. Then values can be selected independently.

[2018-09-05 00:30] no-stack-dub-sack opened #177 "should code blocks be executed after pretty print?"
sometimes in working in a code block, it's nice to pretty print your code, but if you're still working on something, code execution might not always be desirable. With code execution just another shortcut away, I think it might be better to leave that up to the user, and have pretty print be a standalone command with no execution.

Thoughts?

[2018-09-05 01:20] thangngoc89 commented on #177
This is a really interesting point. I want to execute the code after pretty print to avoid layout thrashing. Also, you can't pretty print code with syntax error anyway.

[2018-09-05 01:50] no-stack-dub-sack commented on #153
working on it...

[2018-09-05 15:13] #153 closed

[2018-09-06 07:10] fstiffo opened #181 "copy (and paste) the results"
It would be very useful to be able to copy and paste the results of the execution, at present I have to use the inspect tool of the browser to copy the results. Thx !!

[2018-09-06 07:50] fstiffo commented on #181
Sorry I view now issue #158

[2018-09-06 07:50] #181 closed

[2018-09-06 13:52] fstiffo commented on #177
I agree with @no-stack-dub-sack , and I would like it was possible to pp only one one block, for example the one with the active editing and having a button for the total pp.

[2018-09-07 20:15] bam365 opened #182 ""Delete immediately" button causes preceding block to be deleted also"
Repro steps:

1. Go to https://sketch.sh/ml
2. Put something in the code block that is already there
3. Create an additional code block with the < >+ button
4. Click the delete button on the second block, and click the "Delete immediately" button before the timer expires
5. Wait 10 seconds
6. Notice that the first block is then also deleted

[2018-09-08 06:57] #182 closed

[2018-09-08 09:34] matthiaskern commented on #147
investigating https://www.slatejs.org/ and https://prosemirror.net/

[2018-09-08 14:53] #118 closed

[2018-09-08 16:50] thangngoc89 commented on #181
@fstiffo this is fixed in #185

[2018-09-10 17:31] fstiffo opened #186 "Some time the cursor dissapears"
Some time the blinking cursor disappears, either in code than in text. I'm using Chrome 69.0.3497.81 on W7. Until yesterday the problem had not happen

[2018-09-10 23:09] thangngoc89 commented on #186
I sometimes see this as well. and AFAIK, I didn't touch the editor code for awhile. So no ideas why is this happening

[2018-09-11 14:39] fstiffo commented on #186
It seem not happening more to me.

[2018-09-11 15:19] matthiaskern opened #187 "Deleted blockjs are saved and don't disappear correctly on reload"
In my opinion it's undesirable that already deleted sketches are saved.
Also, they don't get hidden correctly on reload.

See: https://sketch.sh/s/UAeFGd3RMKziqvN2VFpBMl/

[2018-09-11 16:09] thangngoc89 commented on #187
@matthiaskern See https://github.com/Sketch-sh/sketch-sh/issues/149

[2018-09-11 19:15] matthiaskern commented on #187
Whoops, I missed that one. Closing in favor of #149

[2018-09-11 19:15] #187 closed

[2018-09-12 15:03] thangngoc89 opened #189 "Improving SEO"
For Google Bot, there is a delay up to 1 week between normal indexing (HTML only) and Javascript-powered indexing (using Chrome 38). See https://www.youtube.com/watch?v=PFwUbgvpdaQ&feature=youtu.be&t=898

And that's for Google Bot only. there are many search bots out there that doesn't support Javascript indexing.

Plans:

- [ ] Render page with correct meta #82
- [ ] Render page with Puppeteer wh

[2018-09-12 16:10] thangngoc89 commented on #149
Fixed in #188

[2018-09-12 16:10] #149 closed

[2018-09-13 05:59] fstiffo commented on #94
Could be useful non only for the space but also for the indexing

[2018-09-13 10:53] thangngoc89 commented on #94
@fstiffo what do you mean by indexing?

[2018-09-14 06:19] fstiffo commented on #94
google indexing

[2018-09-16 16:45] #116 closed

[2018-09-16 16:46] matthiaskern commented on #116
Closed by #174

[2018-09-17 08:10] fstiffo opened #190 "Links to other sketches feature problem"
When a linked sketeched is updated, the links on the other sketches that refers to it continue to point to the initially linked (old) version.

[2018-09-17 08:35] matthiaskern commented on #190
@fstiffo This is not a bug, currently we save the current state of the linked sketch as is.
We should make this clearer and provide a way to update existing links though.

[2018-09-17 08:39] matthiaskern opened #191 "Provide a way to update existing links"
Instead of only showing the date of the last link revision, we should show a button to update a link to the latest revision.

![image](https://user-images.githubusercontent.com/9108002/45613224-431dde80-ba6e-11e8-92e8-e383963a87f2.png)

[2018-09-18 18:43] kyldvs commented on #191
Being able to update them easily would be great, the two features I'd want are:

1. Add a "refresh" button that will update to the latest version when clicked
2. When adding the link, add an option that can be chosen to always use the latest version of linked sketch (probably harder to implement)

[2018-09-19 14:02] fstiffo opened #192 "Some sketches are missing from my list"
In my list:

https://sketch.sh/u/fstiffo

Advent of Code 2017 - Day 1
Advent of Code 2017 - Day 2

sketches. are missing.

[2018-09-19 14:55] thangngoc89 commented on #192
oh. this is a really bad experience. This is simply pagination is not implemented yet due to the limitations from hasura graphql engine. I'll work on a hack this weekend

[2018-09-23 19:55] fstiffo opened #195 "Some little problems in the coloring of code"
The coloring of the code has some little problems when the "'" char is used in the names, for an example look at the code line 398 in this sketch : https://sketch.sh/s/UL2IMWIxTF8bcGtOxmdEvq/

[2018-09-28 02:48] kyldvs opened #196 "Reason code doesn't compile when using module and's"
https://sketch.sh/s/iEUvSvOSo6uHgywRCaoeDY/

This code always has an error in the console, `uncaught exception: 248,Misc.Fatal_error,16`

[code]

It seems to work if I run it locally though, so I think it's valid.

[2018-10-01 06:00] kyldvs commented on #196
Actually I guess this is not specific to Reason, and happens in `.ml` too: https://sketch.sh/s/ZcSTYaBFzTlnDFNRikLg9B/

[2018-10-24 17:51] acoll commented on #94
Should the delete remove all the data related to the note or just update a `deleted` boolean flag on the record?

[2018-10-24 19:49] kyldvs commented on #94
I think it should add a deleted boolean, and hide it from your list of notes/display a notice or something. Perhaps some other restrictions like no running/forking. I don't like the idea of the note getting deleted and lost by accident.

[2018-10-24 19:56] acoll commented on #94
That was my initial thought too. I went ahead with an actual deletion only because it looked pretty easy and because @fstiffo  mentioned something about space (I assumed they meant disk).

[2018-10-29 22:01] #142 closed

[2018-10-31 00:03] resurge opened #204 "Error in syntax highlighting for Ocaml"
Example: https://sketch.sh/s/h7mXF4K6jtQXY1cflQJHhT/

As you can see in the example, when wanting to use the double quote character in a character literal the syntax highlighting starts to freak out.
It seems to think I've opened a string but not closed it.

[2018-11-01 10:35] matthiaskern commented on #94
Closed via #202

[2018-11-01 10:35] #94 closed

[2018-11-01 22:06] kyldvs opened #206 "Don't confirm deleting a section if it is empty"
The countdown is annoying if you are just deleting an empty block. Minor UX improvement to just delete immediately in this case.

Might also want to check that the block has no history in case someone would lose a lot of work they could ctrl+z back to somehow.

[2018-11-04 21:26] matthiaskern opened #207 "Only show delete button on user page"

[2018-11-05 14:45] resurge opened #208 "Deleting a sketch doesn't work"
I see the GraphQL query fire in the network tab, but the response has an http code "400".

The response is:
[code]

[2018-11-06 14:20] matthiaskern commented on #204
This would require changes to https://github.com/Sketch-sh/sketch-sh/blob/f7d74a78ebe122ef0b623aa6db1bcc61b80153de/client/src_editor/reason-mode.js#L77

Related: https://github.com/Sketch-sh/sketch-sh/issues/195

[2018-11-06 14:30] matthiaskern opened #209 "Sketch revisions are obsolete"
They are not actually in use and take up space in the db.

[2018-11-12 14:24] matthiaskern opened #210 "Deleting a sketch doesn't update the UI"

[2018-11-15 09:52] nimish-gupta commented on #210
@thangngoc89 using subscription also we have to change the apollo state by ourselves only, so probably instead of subscription we can update the state after the mutation result.

[2018-11-16 12:51] joelonsql opened #211 "Bug: Elements in reversed order"
https://sketch.sh/s/hWvJXtqkJvJlGgqenZDfZj/

This code produces different output when comparing a) sketch.sh with b) bsb/node:

a) sketch.sh: "a3 b2 c1"
b) bsb/node: "a1 b2 c3"

[2018-11-16 13:05] Drup commented on #211
OCaml bytecode: a3 b2 c1
OCaml native code: a3 b2 c1

The evaluation order is technically not specified in OCaml and your code relies on the evaluation order in `Seq(annotate(e), annotate(f));`. js_of_ocaml (which sketch uses) and the vanilla compiler seem to agree (although it's not guaranteed either). bs doesn't.

[2018-11-16 14:13] Drup commented on #211
On theory, it's unspecified and could thus change. I doubt it will ever change for the mainline compilers. It would break too much code in ways that are too subtle to detect.

[2018-11-19 03:03] jordwalke commented on #211
@joelonsql I would encourage you to open a PR or Issue to the bucklescript repo encouraging documentation of this, and/or tweaking the order of evaluation.

[2018-11-19 04:08] kyldvs commented on #211
@joelonsql did you happen to delete your sketch? I'm getting a 404 for it now. If so, could you add the example code to this issue for historical context? Not sure what this issue is talking about at this point :)

[2018-12-04 17:03] #190 closed

[2018-12-07 19:00] aaronshaf opened #212 "Support for npm packages via unpkg"
Would be cool to do something like:

`[@bs.module] external...`

and load an npm module from unpkg.com

[2018-12-08 04:30] thangngoc89 commented on #212
Sketch doesn't use bucklescript so this is pretty out of scope of this project. But thanks for the suggestion

[2018-12-08 04:30] #212 closed

[2018-12-09 06:46] #211 closed

[2019-04-03 10:47] Valmach opened #217 "keyboard shortcuts"
Just opened the platform, keyboard shortcut directions Cambria Math and Arial Unicode not > greater than less than, etc.

[2019-04-03 10:49] Valmach commented on #217
keyboard will not function in cell unless type outside the tab first., then  navigate back to cell and typing works

[2019-04-03 19:49] kyldvs commented on #217
Do you have a screenshot about what "keyboard will not function in cell" means? I don't understand this issue

[2019-04-07 12:59] ThomasGawlitza opened #218 "Saving an OCaml-based scetch does not seem to work correctly"
https://sketch.sh/s/rPsVrgfV58YMhTnRP8f4g9/

[2019-06-19 19:09] kyldvs opened #219 "Unable to save or edit anything"
I've been unable to save/edit any sketches for around a month. I'm not sure why, maybe I need to re-authenticate with github? But I don't see any way to logout.

![Screenshot_2019-06-19 test - Sketch sh](https://user-images.githubusercontent.com/1830497/59793222-dfd60c80-928a-11e9-8f82-3c5f33beadb7.png)

Each time I save I get a 500 response like this:

[code]

(I have the request that is failing

[2019-06-23 22:29] thangngoc89 commented on #219
There was a problem with the database. I fixed and tested it. Please open this issue if things don't work on your end

[2019-06-23 22:29] #219 closed

[2019-06-24 19:12] kyldvs commented on #219
It's working now, thanks!

[2019-07-06 20:07] mrvicadai opened #220 "[Enhancement] Do not automatically create matching single quote for generic type declaration"
## What & Why?

Take writing the following block of ReasonML for example:

[code]
When we intend to type `'a`, the editor automatically creates a pair of single quotes `''` therefore we have to manually remove the closing `'`. It's a minor annoyance but could really save a lot of typing if `'` does not automatically expand into a pair of single quotes.

[2019-07-06 20:11] mrvicadai opened #221 "[Enhancement] Create shortcut for adding new code block / text block"
## What & Why?

Currently, in order to create a new code / text block, we have to click on the `< > +` or `✎ +` icon. It would be a lot more efficient if we have a simple keyboard shortcut without have to touch the mouse.

[2019-07-06 20:18] mrvicadai opened #222 "[Feature] A gallery page that showcases popular sketches"
## What & Why

Just want to throw this idea out there -- since there's already a "New Sketches" section, why not have a curated list of popular Sketches to showcase awesome content?

This would help new users get started and get familiar with the tool faster -- also increase adoption in the meantime.

[2019-07-07 02:34] thangngoc89 commented on #221
there are keybindings a tually (Ctrl shift N and Shift N iirc). I working on a much improved version that will remove the concept of blocks entirely. You'll have a blank markdown canvas to work with. Use cut/paste/keyboard shortcuts to move the code around

[2019-07-07 03:26] mrvicadai commented on #221
Thanks, I'll give this a try!

That sounds great -- can't wait to see the new version :)

[2019-07-07 03:26] #221 closed

[2019-07-08 10:34] thangngoc89 opened #223 "[Meta] Important links"
- Public roadmap: https://trello.com/b/uMpqf3a2/roadmap

[2019-07-09 02:55] #158 closed

[2019-07-09 02:55] #163 closed

[2019-07-09 02:55] #140 closed

[2019-07-09 02:56] #186 closed

[2019-07-09 02:56] #147 closed

[2019-07-09 02:56] #136 closed

[2019-07-09 02:57] #130 closed

[2019-07-09 02:57] #99 closed

[2019-07-09 02:57] #38 closed

[2019-07-10 08:36] jozanza opened #224 "Obj.magic() causes code execution to fail"
I'm really loving Sketch 🎉, however, I ran into problems trying to use OCaml's `Queue` module -- the types all checked out, and code execution ran without issue, until I actually called `Queue.create()`.

After some digging, I realized that `Queue` uses some unsafe type coercion via `Obj.magic()` in a number of methods; `Queue.create()` is one of them.

Further testing revealed that `Obj.magic()`

[2019-07-10 08:52] thangngoc89 commented on #224
Hello, thank you for using and loving Sketch.sh. `Queue` isn't part of the stdlib, though it's often shipped with the compiler. Currently Sketch only supports the stdlib (at OCaml 4.06). There are plans to support loading external packages.

Regardings your problem, I think this is an upstream issue (with JSOO) or maybe how your Queue is implemented. I will have tho dig deeper to see what the actu

[2019-07-10 08:55] Drup commented on #224
[Queue **is** part of the standard library](http://caml.inria.fr/pub/docs/manual-ocaml/libref/Queue.html).

[2019-07-10 12:26] thangngoc89 commented on #224
@Drup I'd only consider anythings that's linked with `-I +stdlib` to be the *real* stdlib. Anything else isn't. For ex: `Str`, `Unix`

[2019-07-10 14:26] Drup commented on #224
Yes, and Queue is part of that. The content of the stdlib is shown [here](http://caml.inria.fr/pub/docs/manual-ocaml/stdlib.html).

[2019-07-10 14:31] thangngoc89 commented on #224
@Drup interesting. I wonder why sketch doesn't have Queue module

[2019-07-12 00:04] jozanza commented on #224
Thanks for the alternate implimentation @thangngoc89!

FWIW, I've been using the [reasonml docs](https://reasonml.github.io/api/Queue.html) as a stdlib reference. When I realized `Queue` references broke my Sketch, I just copy-pasted the  [vendored ocaml dependency from bsb-native](https://github.com/bsansouci/bsb-native/blob/master/vendor/ocaml/stdlib/queue.ml), which appears to have been authore

[2019-07-18 11:40] Drup commented on #224
FWIW, the [current version](https://github.com/ocaml/ocaml/blob/5ccf3c52dcbff5b5fc76b127ddb19aca90090b53/stdlib/queue.ml) of Queue doesn't use Obj.magic

[2019-07-22 05:16] jozanza commented on #224
@Drup Thanks that's exactly what I needed! Not sure why `bsb-native` is using a weird out-of-date version 🤷‍♂

[2019-07-29 09:31] bloodyowl opened #226 "[V2] Safari crashes on postMessage"
Safari requires the second argument, which is the authorised receiver domain. for simplicity, I think that `"*"` can be used here.

<img width="1121" alt="Screenshot 2019-07-29 at 11 29 48" src="https://user-images.githubusercontent.com/1688645/62037510-31f83f00-b1f4-11e9-964e-453dd6046a41.png">

<img width="1121" alt="Screenshot 2019-07-29 at 11 29 44" src="https://user-images.githubusercontent.c

[2019-07-29 09:47] thangngoc89 commented on #226
@bloodyowl thanks for reporting. I didn't know about this.

Would this be enough ?

[code]

[2019-07-29 09:56] thangngoc89 commented on #226
Fixed in https://github.com/Sketch-sh/sketch-sh/commit/5d2f4911ce0140741a140afaee63f8f0875cecce and deployed

[2019-07-29 10:06] thangngoc89 opened #227 "[Bucklescript] MVP issue tracking"
No particular orders
- [x] npm dependencies
- [x] ReasonReact
- [x] Use double iframes to avoid stale dom state
- [x] Use console-feed for fetching
- [x] Check for empty loc and don't apply the special loc converting. eg: `open React`;
- [x] Use reflex for a more well organized panes setup
- [x] Should check for frame's readiness before sending messages
- [x] [your ideas here]

[2019-07-29 10:22] #226 closed

[2019-07-29 16:42] thangngoc89 opened #228 "Use regex for fast parsing import statement"
The bundler needs to know all required statements of a particular module before executing it.

Currently, I'm using konan which uses babylon (babel's parser) under the hood. This is really slow for large file (react.js, react-dom) and could freeze the thread for several seconds.

I will move this script to a worker thread later for address the UI responsiness. But in the mean time, I would prefer

[2019-07-29 17:07] thangngoc89 opened #229 "BS compiler: Output path awareness require statements"
## Important links:

- Bucklescript's fork of for sketch: https://github.com/thangngoc89/bucklescript/tree/sketch
- Build instructions: https://github.com/Sketch-sh/sketch-sh/tree/598839aa67c4414b4439936457bbb6e723dbb026/engine_bs

## A quick introductions about how compiler loads module and output require path

When BS compiler encountered a new module, it will look in the load path for `Modulena

[2019-07-30 00:04] #218 closed

[2019-07-30 08:36] thangngoc89 opened #230 "npm fetcher: Respect browser field"
When encounter browser fields in `package.json` like this:

[code]

We need to map those modules to the provided value.

[2019-07-30 16:41] jchavarri commented on #229
@thangngoc89 I am taking a look at this issue but I'm not sure I understand why the current BuckleScript implementation does not work.

If users want to use `reason-react` then it would get added to `package.json` and resolved through an external, like any other 3rd party library right? And in that case, BuckleScript resolves to simple `require('reason-react')` which would work fine.

What am I mi

[2019-07-30 17:06] thangngoc89 commented on #229
Sorry for the lacks of information.

What you're describing would work if we compile external dependencies on the fly with bucklescript as well. That basically re-creating `bsb` (the build tool) which would be too complex and heavy for a client application.

So the approach I've chosen would be precompiled packages and grab the artifacts (cmi, cmj and js), put it on a CDN so that sketch could load

[2019-07-30 21:40] thangngoc89 opened #233 "Fix default resolver"
[code]

[2019-07-31 06:25] tatchi commented on #228
I would be happy to help with this 👍

[2019-07-31 06:51] thangngoc89 commented on #228
@tatchi awesome 😎. don't hesitate to ask if you have problems navigating the codebase

[2019-07-31 09:03] jchavarri commented on #229
Thanks for explaining, that makes a lot of sense :)

So how would this new code in `js_name_of_module_id.ml` differentiate between stdlib modules and other modules? Should we whitelist all module names that are part of stdlib or is there another way that doesn't require this indirection? I'm not a fan of the stdlib whitelist idea as it could get out of sync, but can't think of any other approaches

[2019-07-31 09:58] jchavarri opened #234 "[beta.sketch.sh] Dep resolver doesn't work in Safari"
When opening https://beta.sketch.sh/ in Safari the console shows:

[code]

I tracked this down to an issue with how `Url` objects are handled in different browsers. It seems that Safari doesn't put in `url.pathname` the same data as Chrome or Firefox in this line:

https://github.com/Sketch-sh/sketch-sh/blob/d98d0b433d357ea481d1ce191706c26eb2abe026/client/src/container/Container_bundler.re#L92

Sm

[2019-07-31 10:42] thangngoc89 commented on #234
Fixed in https://github.com/Sketch-sh/sketch-sh/commit/17bad6606bbe3d98995da6f4227ea119944400e4

[2019-07-31 10:42] #234 closed

[2019-07-31 10:45] thangngoc89 commented on #229
By looking at where the `.cmi` is located.

`/workdir/stdlib/belt_something.cmi` is definitely `stdlib`

We can control the load path here, and if the cmi changed for some reason (aka a breaking change in bucklescript's upstream), we'll need to make a new engine release

[2019-07-31 10:49] thangngoc89 opened #235 "Move bucklescript's compiler to a worker thread"
Benefits:
-  Don't block the main UI thread
- Got **synchronous** function `importScript` to load new stuff into the environment

Consider [promise-worker](https://github.com/nolanlawson/promise-worker/) 's API style which is less verbose and easy to use.

[2019-07-31 10:55] #230 closed

[2019-07-31 11:45] jchavarri commented on #229
So, from what I understand, this task would require splitting the `| Runtime | Ml` case which is currently handled [similarly](https://github.com/thangngoc89/bucklescript/blob/f7d9dd93ad162dd215776921b7c52021a7820e9c/jscomp/core/js_name_of_module_id.ml#L207-L208), into two different cases, right?

If this issue is for ReasonReact, it feels like that one should figure out how to load RR cmis/cmjs i

[2019-07-31 12:03] thangngoc89 commented on #229
I don't know. I didn't read that part of code yet.

It doesn't matter what's the `cmi_path` is, as long as we add that path into [`Config.loader` here](https://github.com/thangngoc89/bucklescript/blob/f7c7771ca31d0bd8054787c51296f9159440774d/jscomp/main/jsoo_main.ml#L203-L207)

What's this issue about is that bucklescript should output js require path relative to the `cmi_path`

Because we need to

[2019-07-31 12:49] thangngoc89 opened #238 "Display warnings in in the editor"
Warnings aren't part of the compilation result, we need to **teleport** it out of `console.log`.

I have a reference implementation here for `engine_native`:
https://github.com/Sketch-sh/sketch-sh/blob/8de00e725b390c09cd3523e4ff92b7d0849f1f67/engine_native/src/repl/Execute.re#L6-L31

You'll need to translate that code into OCaml and hook it into `jsoo_main.ml` in [sketch's bucklescript](https://gi

[2019-07-31 17:02] jchavarri commented on #229
Thanks for the explanation and the example @thangngoc89.

I am trying to get the cmj path from a loaded module using `Lam_compile_env.get_package_path_from_cmj`, which is what the native code [is using](https://github.com/bucklescript/bucklescript/blob/f7d9dd93ad162dd215776921b7c52021a7820e9c/jscomp/core/js_name_of_module_id.ml#L115), but I just get a constant string `"BROWSER"` for this path. It

[2019-07-31 17:46] thangngoc89 commented on #229
hmm, the make inconsistent error is weird. I probably messed up somehow

[2019-07-31 19:38] thangngoc89 commented on #235
Move this to **P/1** . After adding ReasonReact, the response time is pretty terrible, the main thread freezes after each character

Demo:

https://sketch-git-reason-react.sketch-sh.now.sh/

[2019-07-31 19:38] #227 closed

[2019-07-31 19:55] thangngoc89 commented on #235
![image](https://user-images.githubusercontent.com/3049054/62243618-dc947b80-b407-11e9-89b0-a6f5c4dac7f6.png)

[2019-07-31 20:28] thangngoc89 opened #240 "Seperating container and main client build into 2 folder"
This is for ensuring that scripts won't steal token stored in the host.

I bought a new domain http://www.gosketch.xyz/ for this particular purpose.

[2019-07-31 20:32] #223 closed

[2019-08-01 08:45] thangngoc89 opened #241 "Showing compilation error / eval error on the UI"
We are current catching error here:

https://github.com/Sketch-sh/sketch-sh/blob/03d7140dbf0e1196d4d6f1994758e6aef8f064b7/client/src/container/Container_bundler.re#L165-L173

`onEntry` for successful compilation and `onError` for error either in compilation or eval step.

# How?

- Add 2 new events to send `to_host` (Comm_eval_error, Comm_eval_entry)

https://github.com/Sketch-sh/sketch-sh/blob/03

[2019-08-01 08:48] #209 closed

[2019-08-01 09:13] thangngoc89 opened #242 "Recover from fatal error"
Even though I added catch error pretty much everywhere, the playground can't recover fatal errors.

Reproduce:

[code]

It should produce a Type error.
Now try to clean it and type in invalid code, it won't be executed.

[2019-08-01 09:15] thangngoc89 commented on #228
Fixed in #239

[2019-08-01 09:15] #228 closed

[2019-08-01 09:18] thangngoc89 opened #243 "Revert "fix(bs): Show eval error in the hooked console" when #241 is done"
`fix(bs): Show eval error in the hooked console` https://github.com/Sketch-sh/sketch-sh/pull/231/commits/e983547aad3e9d227faf39632db17ee13368eea6 was added to temporary show the error in the built-in console. Once #241  is done, remember to revert it

[2019-08-01 09:47] #210 closed

[2019-08-01 10:03] thangngoc89 opened #244 "[Bucklescript] Which external packages will be supported by Sketch"
So after painfully and manually packing ReasonReact for the playground https://github.com/Sketch-sh/sketch-sh/pull/237, here are a few requirements for packages to be supported by Sketch:

- **MUST** be buildable with `bs-platform@5.0.6` . Yes. It's a fixed version because of bucklescript requirements. Since adding new compiler version support is painful and no automation (yet), I will probably st

[2019-08-01 15:17] jchavarri commented on #229
@thangngoc89 I just managed to build sketch locally with reason-react prebuilt, and still get the `BROWSER` string in the returned value from `get_package_path_from_cmj`.

I also tried using `Config_util.find_opt js_file` to see if that could work to get the path, but it always returns `None`.

So I'm not sure that the original way to achieve this task is possible with a "read only" approach. As f

[2019-08-01 15:23] thangngoc89 commented on #229
@jchavarri

This is unrelated, the `load_module` and path generation aren't the same AFAIK. But whatever you can do to make it work, please do it.

Also, if something works differently between browser and node, you can search for this `BS_COMPILER_IN_BROWSER` to see the conditional compilation applied for browser.

Maybe we can ask @Hongbo ?

[2019-08-02 04:39] mlms13 commented on #242
I noticed this when I accidentally ran a non-tail-recursive endless function, along the lines of:

[code]

This pretty quickly blows the stack in the browser, but then deleting it and replacing with `Js.log("a")` doesn't produce any output.

[2019-08-02 05:14] bobzhang commented on #229
Yes, my original hack is just to assume they are in the same directory `./stdlib`, I am open to make changes accordingly

[2019-08-02 06:56] thangngoc89 commented on #242
@mlms13 yeah. i don't know the root cause of this but that sounds about right

[2019-08-02 07:24] thangngoc89 commented on #229
@bobzhang we're literally stucked here. So any pointers would be appreciated.

[2019-08-02 07:49] bobzhang commented on #229
I will have a look this weekend

发自我的iPhone

------------------ Original ------------------
From: Khoa Nguyen <notifications@github.com>
Date: Fri,Aug 2,2019 3:25 PM
To: Sketch-sh/sketch-sh <sketch-sh@noreply.github.com>
Cc: Hongbo Zhang <bobzhang1988@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [Sketch-sh/sketch-sh] BS compiler: Output path awareness require statements (#229)

@b

[2019-08-02 23:30] johnhaley81 commented on #244
With respect to `namespace = false` I just checked what it's doing in the docs and BS [docs](https://bucklescript.github.io/docs/en/build-configuration.html#name-namespace) has this to say about it:

![image](https://user-images.githubusercontent.com/867780/62403518-04402c80-b54b-11e9-9fe7-6fb453f58f1a.png)

Since it's almost considered mandatory according to the docs, why does it need to be turne

[2019-08-02 23:31] johnhaley81 commented on #244
Relevant conversation WRT `namespace = false` https://github.com/Sketch-sh/sketch-sh/pull/245#pullrequestreview-270429111

[2019-08-02 23:38] thangngoc89 commented on #244
@johnhaley81

because it's an implementation details of bsb (the build tools).

in order to build it for sketch, I need access to the generated cmi and cmj that contains the namespace. bsb intentionally use invalid module names (have a dot in it) to avoid leaking implementation details.

Granted that I can replicate that behavior but:
- it's complicated
- I can't be sure it would be compatible wit

[2019-08-03 07:04] thangngoc89 opened #247 "Whitelist node built-in packages"
There aren't anyway to differentiate between a node built-in packages versus a npm package. So we need a whilelist with browser compatible version of it.

[code]

[2019-08-04 02:15] thangngoc89 commented on #229
@bobzhang thank you very much

[2019-08-04 02:29] bobzhang commented on #229
@thangngoc89 see my comments in Sketch.sh #bucklescript channel

[2019-08-04 09:51] thangngoc89 commented on #242
Found it, here is the root cause:

https://github.com/frontarm/polestar/blob/d1201ee09b6e3988c98aeb9fddba55e267850583/src/Polestar.ts#L167-L169

I think we are supposed to create a new Polestar instance if error happened

[2019-08-04 14:52] thangngoc89 commented on #247
Done

[2019-08-04 14:52] #247 closed

[2019-08-04 16:17] thangngoc89 opened #248 "Resolve main entry module from package.json instead of using jsdelivr data"
Relevant issue: https://github.com/jsdelivr/jsdelivr/issues/18166

---
# Update

So apparently jsdelivr will minify the `main` entry file and add `.min.` in its name. Since we check for the name. And the minified file could saves a lot of bytes and improve parsing speed for the bundler.

So we would save this `default` file provided by jsdelivr, check with what's provided in `main` field to see if

[2019-08-04 16:45] #242 closed

[2019-08-09 21:41] jchavarri commented on #238
I started looking into this and found some challenges, as the functions required to do this were not available back in 4.02.3:

- `Location.warning_printer` was introduced in 4.03: https://github.com/ocaml/ocaml/commit/f9ea209cb7dd08634917e332aba8c61962bc5168
- `Warnings.report` was added in 4.06: https://github.com/ocaml/ocaml/commit/356d8a9c0c3439848444ec5dab7250c72b77ceeb

@thangngoc89 consider

[2019-08-13 01:39] idkjs commented on #146
I note the merged tag here. Is this still open?

[2019-08-13 15:03] thangngoc89 commented on #146
@idkjs good catch, this one is closed :)

[2019-08-13 15:03] #146 closed

[2019-08-13 16:09] idkjs commented on #248
I'm trying to run the project on master and getting the following `webpack` error:

[code]

In the forum you noted we should run this with yarn. I noticed in https://github.com/Sketch-sh/sketch-sh/blob/master/DEVELOPING.md you use `npm`. Not sure if this matters.

Is this expected? How should i get the build to run? Thank you.

[2019-08-13 16:27] idkjs commented on #248
Also, whenever you run `yarn install` you always get an error on `let-anything` package.

[code]

[2019-08-13 16:35] idkjs commented on #248
Tried fresh clone. `cd client && yarn`.
Add `let-anything` with `yarn add let-anything -D` due to error on install.

Run an initial bsb build, `yarn bs:build`.

Start dev server: `yarn start`.

Same error as above:

[code]
Will wait on your feedback. Thank you.

[2019-08-13 16:35] thangngoc89 commented on #248
@idkjs I'm using yarn, the contributing guide is a little bit outdated. But be sure you check out engine_bs branch ?

[2019-08-13 16:36] idkjs commented on #248
Ah, ok. I had it running on that before but didn't realize that is what we were working off of. Thank you.

[2019-08-13 16:37] thangngoc89 commented on #248
@idkjs sorry about that. As bucklescript is on development, I didn't get a chance to document it properly

[2019-08-13 17:29] thangngoc89 commented on #238
@jchavarri this isn't possible because bucklescript doesn't use opam switch's compiler-libs. I think there should be the same tools to do these things in ocaml 4.02.3

[2019-08-13 19:42] idkjs commented on #248
@thangngoc89 i would be happy for you to take a few minutes and walk me through the workflow to get me up and running. Is that possible?

[2019-08-14 05:49] thangngoc89 commented on #248
sure. I'll pong you on discord when I'm around

[2019-10-27 22:55] robz opened #251 "Invalid SSL certificate"
When I attempt to load https://sketch.sh/ I see an error "Invalid SSL certificate"

<img width="1792" alt="Screen Shot 2019-10-27 at 3 54 42 PM" src="https://user-images.githubusercontent.com/1002165/67643222-27704300-f8d2-11e9-889b-56bb2e490e77.png">

[2019-11-03 19:49] thangngoc89 commented on #251
Thank you for reporting. This was fixed :)

[2019-11-03 19:49] #251 closed

[2019-11-10 17:00] thangngoc89 commented on #233
Done by using the newly open source demoboard

[2019-11-10 17:00] #233 closed

[2020-03-09 18:55] kyldvs opened #259 "Recursive modules prevent sketch from executing the code"
Example: https://sketch.sh/s/htxiTTab2wGkSLKFCeOc6P/

This is valid, but "Hello" is not printed:

[code]

[2020-05-28 17:39] iamkeyur opened #261 ""monadic" let operators doesn't work"
As described in this post https://jobjo.github.io/2019/04/24/ocaml-has-some-new-shiny-syntax.html

It doesn't work and shows operator expected error.

[2020-10-02 12:38] letouzey commented on #41
I would also be very interested by a direct way to save / import sketch.sh pages.
In the meantime, I'm made a quick'n dirty downloader tool : https://github.com/letouzey/sketch-downloader .
It uses curl used to dump the json data of the page, then a little ocaml script to pretty-print it as markdown and OCaml/Reason code.
@thangngoc89 thanks for creating and maintaining this nice plateform.

[2020-10-27 02:11] marcoemrich opened #269 "Bug: Can't get an overview of my all my own sketches"
If I click on my avatar (url: https://sketch.sh/u/marcoemrich), to see all my sketches, I get an error message instead:

[code]

![image](https://user-images.githubusercontent.com/447570/97248426-123e3500-1802-11eb-88d3-009997926011.png)

[2020-10-29 08:18] fstiffo commented on #269
The same error for me.
![image](https://user-images.githubusercontent.com/3993564/97542826-b58c7700-19c7-11eb-87cc-f0db8c926a01.png)

[2020-10-29 10:03] thangngoc89 commented on #269
Hmm. Thank you for reporting this. I will take a look. Not sure why it's suddenly stopped working

[2020-12-03 05:11] kyldvs opened #272 "Sketch is down?"
The entire site seems broken for me. Right now it dumps me into a directory structure that lets me look at the docs, and links like https://sketch.sh/new/reason are a 404.

[2020-12-07 07:54] Khady opened #273 "New sketch pages not accessible without navigating"
The pages https://sketch.sh/new/reason and https://sketch.sh/new/ml are returning a 404 when I navigate to them directly. But if I go on https://sketch.sh first and then click the "new sketch" button it works

[2020-12-08 05:08] shubhamgupta731 commented on #269
Same here for me

[2020-12-09 02:24] thangngoc89 commented on #269
Sorry guys 😓. Sketch really needs a revamp of its backend. It designed Sketch’s backend when I was really hyped about microservices, docker and everything. Now they are starting to break apart

[2021-01-04 15:43] bluddy commented on #272
The root site seems to be up, but subdirectories don't seem to direct properly.

[2021-01-14 17:35] marcoemrich opened #277 "Existing Sketches are not found any more (404)"
For example: https://sketch.sh/s/e9MlLetFJNLVbEJ6J99NBR/

[2021-01-15 17:29] idkjs commented on #272
[Phantom Types in ReasonML](https://sketch.sh/s/nerP3hkOxX6sMVvVUtBIbs/) by Ali Sharif

[2021-01-15 17:29] idkjs commented on #277
[Phantom Types in ReasonML](https://sketch.sh/s/nerP3hkOxX6sMVvVUtBIbs/) by Ali Sharif

[2021-01-18 15:37] maiksensi opened #278 "Github login not working"
Hey hey, when I try to login via github I get an error:

![image](https://user-images.githubusercontent.com/6359386/104935351-6a24ac00-59ab-11eb-8e8d-bfa638d3b8d6.png)

let me know if I can help with further information.

[2021-02-21 01:56] vrmiguel commented on #278
Same thing happening here

[2021-02-21 22:06] #269 closed

[2021-02-22 15:56] thangngoc89 commented on #272
Everything is up and running now. Sorry for the interruption

[2021-02-22 15:56] #272 closed

[2021-02-22 15:57] thangngoc89 commented on #278
It works now. Thank you very much

[2021-02-22 15:57] #278 closed

[2021-02-22 15:57] thangngoc89 commented on #277
It works now. Thank you very much

[2021-02-22 15:57] #277 closed

[2021-02-22 15:59] thangngoc89 commented on #273
It works now. Thank you very much

[2021-02-22 15:59] #273 closed

[2021-02-22 19:29] kyldvs commented on #272
Thanks for fixing things up :)

[2021-04-18 17:44] vrmiguel opened #290 "Uncaught Error: graphql_ppx: Field user on type query_root is missing"
Hello there!

I'm trying to use sketch.sh but it fails with `Uncaught Error: graphql_ppx: Field user on type query_root is missing` on both Firefox and Google Chrome

Details:
* Linux x86-64 (kernel 5.11.13-arch1-1)
* Mozilla Firefox 87.0
* Google Chrome 90.0.4430.72

The full error message follows

[code]

[2021-04-23 01:52] vrmiguel commented on #290
I can no longer reproduce this issue 🤔

It seems to working fine again so I'll close this issue

[2021-04-23 01:52] #290 closed

[2022-01-07 06:41] maxlibin opened #311 "Suggest to move the action icons to top left"
This is UX suggestion to move the action icons to the top left where currently feels that these action icons kind of unattached to this container when text is short and there are lots of empty space, it makes different to understand which box or container this actions icons belongs to. For example:
![Screenshot 2022-01-07 at 2 39 44 PM](https://user-images.githubusercontent.com/1277038/148502884-7

[2022-01-07 06:46] maxlibin commented on #311
I can create a draft of this change if make sense.

[2022-01-07 06:49] maxlibin opened #312 "Maybe we could use a better authorization name?"
Authorize @jchavarri  :D

![Screenshot 2022-01-07 at 2 47 24 PM](https://user-images.githubusercontent.com/1277038/148503577-74274b83-275c-47ee-8d87-a457e2be4fb6.png)

[2022-01-07 06:52] maxlibin opened #313 "Can't logout"
There is no option to logout currently
![Screenshot 2022-01-07 at 2 51 14 PM](https://user-images.githubusercontent.com/1277038/148503945-45de30aa-92c5-4f01-87ff-3c6d21c52c0f.png)

[2022-02-04 12:08] jchavarri commented on #313
There seems to be a logout route:

https://github.com/Sketch-sh/sketch-sh/blob/2cd5b180de1fd986348120c7bcc49996f2f9ccba/client/src/Route.re#L19

@maxlibin how do you think this would work better at ui level? Maybe when hovering over the profile image some dropdown with `Log out` link appears? 🤔

[2022-02-04 12:26] jchavarri commented on #311
@maxlibin yes please. As reference, we can also check observable. It has much more functionality than what we need, but they also have the menu on top left corner, e.g. https://observablehq.com/@mbostock/html-in-markdown

![observable](https://user-images.githubusercontent.com/220424/152528818-836ff472-f0ac-4f4c-9a5c-ddf78a83f908.gif)

[2022-02-04 14:17] jchavarri commented on #312
This is fixed now, the app belongs to ahrefs org now.

<img width="621" alt="imagen" src="https://user-images.githubusercontent.com/220424/152544196-9b6ccf9f-3cd1-4e28-bed8-f1d47a9a4894.png">

[2022-02-04 14:17] #312 closed

[2022-03-04 08:50] maxlibin commented on #313
Yea, at least I feel like that is the most natural thing to do. I will create a PR here.

[2022-03-04 14:52] jchavarri commented on #313
Fixed in #332.

[2022-06-03 08:27] fedodd opened #343 "Error with graphql_ppx during ```yarn install``` on M1"
I tried to run ```yarn install``` on MacBook with M1, but got this error:

[code]

[2022-06-04 14:08] #259 closed

[2022-06-04 14:08] #261 closed

[2022-08-13 11:55] thangngoc89 opened #346 "Is sketch.sh down for everyone?"
For some reasons, the auto renew function of namecheap didn’t work as expected. Luckily I renewed the domain manually just in time.
But it’s showing namecheap’s domain parking page instead.

![1AF09C0E-1801-4613-ABE5-E1A03A430BBA](https://user-images.githubusercontent.com/3049054/184493009-4a939695-2cb5-4f13-b7cd-c2d6729166fe.png)

is it just me or for everyone?

[2022-08-13 12:38] Khady commented on #346
Maybe it took a few minutes to restore the dns? It seems to be fine on my side right now.

![694771BD-794B-484E-A8DE-EFB1B1B7BD36](https://user-images.githubusercontent.com/974142/184494403-09f8a2b8-45d4-4c94-a4a6-714fe89a6aa0.png)

[2022-08-13 18:32] thangngoc89 commented on #346
You’re right. It’s working as expected on my end as well. Seems like a problem with slow dns propagation.

[2022-08-13 18:32] #346 closed

[2022-09-15 06:35] danielo515 commented on #244
Hey!
Is bucklescript supported then? I can't see any way to access `Js` namespace. Or I am misunderstanding something?

[2022-10-04 11:09] thangngoc89 commented on #244
@danielo515 hey. this is a very old issue. Bucklescript doesn't exists anymore so I'm closing this.

[2022-10-04 11:09] #244 closed

[2022-10-05 12:08] danielo515 commented on #244
@thangngoc89 I just tried to follow the same naming as the original message. Bucklescript still exists, even if it is an old version, and still allows to transpile to JS.
What is sketch using now? Or does it not transpile to JS? If it is using rescript, my question is still the same, will ti be possible to load external modules?

[2022-10-05 13:31] thangngoc89 commented on #244
@danielo515 there used to be a site called nit.sketch.sh that works just like a buckelscript playground but it can evaluate the JS code (even DOM stuff). It actually predated the current playground offered by Rescript. I'm not sure about the current situation of rescript and I actually forgot where is the source code of nit

[2022-10-07 13:25] jchavarri commented on #343
This should be fixed now in master, related commit:

https://github.com/Sketch-sh/sketch-sh/pull/321/commits/2aba790629fbf7b0f34a53048a1919beb0636d29 (thx @rusty-key )

[2022-10-07 13:25] #343 closed

[2022-10-07 13:28] jchavarri commented on #248
BuckleScript does not exist anymore and I don't think we will have the resources to build a brand new Sketch engine for ReScript anytime soon, so closing related issues.

[2022-10-07 13:28] #248 closed

[2022-10-07 13:29] jchavarri commented on #243
BuckleScript does not exist anymore and I don't think we will have the resources to build a brand new Sketch engine for ReScript anytime soon, so closing related issues.

[2022-10-07 13:29] #243 closed

[2022-10-07 13:30] jchavarri commented on #241
BuckleScript does not exist anymore and I don't think we will have the resources to build a brand new Sketch engine for ReScript anytime soon, so closing related issues.

[2022-10-07 13:30] #241 closed

[2022-10-07 13:30] jchavarri commented on #238
BuckleScript does not exist anymore and I don't think we will have the resources to build a brand new Sketch engine for ReScript anytime soon, so closing related issues.

[2022-10-07 13:30] #238 closed

[2022-10-07 13:30] jchavarri commented on #235
BuckleScript does not exist anymore and I don't think we will have the resources to build a brand new Sketch engine for ReScript anytime soon, so closing related issues.

[2022-10-07 13:30] #235 closed

[2022-10-07 13:30] jchavarri commented on #229
BuckleScript does not exist anymore and I don't think we will have the resources to build a brand new Sketch engine for ReScript anytime soon, so closing related issues.

[2022-10-07 13:30] #229 closed

[2022-10-07 13:45] jchavarri commented on #196
@kyldvs thanks for the report.

Pasting your snippets in a new sketch, which uses OCaml 4.13, seems to work fine.

https://sketch.sh/s/63E9bzRqnuU70zNZUTwq6I/
https://sketch.sh/s/ezvR9WzESj3fUfZnSuxNQW/

To migrate your sketches, just copy/paste them into a new sketch (unfortunately there is no way to migrate the version of the compiler for existing sketches).

[2022-10-07 13:45] #196 closed

[2022-10-07 14:52] jchavarri opened #353 "Import / export sketch from .ml file"
Allow importing a block of ml code splitting into code and text blocks automatically (ie code is code, multiline comment blocks that don't share lines with code become text blocks).

Same for export.

[2022-10-07 15:59] jchavarri commented on #353
Actually dupe of https://github.com/Sketch-sh/sketch-sh/issues/41.

[2022-10-07 15:59] #353 closed